html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  padding: 0;
  margin: 0;
  font: normal 1rem/1 "Myriad Pro","Helvetica Neue", "Helvetica", Arial, sans-serif;
  cursor: default;
  background-image: -webkit-linear-gradient(#FFFFFF, #DCDCDC);
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-app-region: drag; }

.hide {
  display: none; }

#device-manager {
  width: 655px;
  height: 420px;
  margin: 0;
  padding: 0;
  border: 2px solid #BBBDBF; }

/** Common **/
button {
  display: inline-block;
  color: #fff;
  background-image: -webkit-linear-gradient(#545754, #14211F);
  border-radius: 4px;
  text-align: center;
  font-size: .9rem;
  padding: 12px 24px;
  border: none;
  box-sizing: border-box;
  outline: none; }

button:hover {
  color: #fff;
  background-image: -webkit-linear-gradient(#7C7F7C, #3C4947); }

button:active {
  color: #fff;
  background-image: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%); }

button[disabled] {
  display: none;
  opacity: .5; }
  button[disabled]:hover, button[disabled]:active {
    background-image: -webkit-linear-gradient(#545754, #14211F); }

input[type="text"],
input[type="password"] {
  background: #fff;
  border: 1px solid #A6A8AB;
  color: #000; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(0, 0, 0, 0.5); }

input[type="text"].error,
input[type="password"].error,
select.error {
  border: 1px solid red;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

input[type="text"][disabled],
fieldset[disabled] input[type="text"],
input[type="password"][disabled],
fieldset[disabled] input[type="password"] {
  color: #ccc;
  background-color: #dddddd; }

.errMsg {
  color: red; }

/** Title, Taskbar **/
#taskbar {
  padding: 14px 0 0 11px; }
  #taskbar img {
    width: 25px;
    height: 23px; }
  #taskbar span {
    display: inline-block;
    line-height: 23px;
    vertical-align: middle; }
  #taskbar .icons {
    height: 15px;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: -1px;
    -webkit-app-region: no-drag; }
    #taskbar .icons > span {
      display: inline-block;
      width: 35px;
      height: 15px;
      margin-left: 2px;
      cursor: pointer;
      background-image: -webkit-linear-gradient(#545754, #14211F);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      outline: none; }
      #taskbar .icons > span:hover {
        background-image: -webkit-linear-gradient(#727574, #323F3D); }
      #taskbar .icons > span:active {
        background-image: -webkit-linear-gradient(#3DA1E0, #1A6396); }
      #taskbar .icons > span:after {
        content: ' ';
        display: block;
        width: 33px;
        height: 15px;
        margin: 0;
        padding: 0;
        background: url("../images/win-icons.png") no-repeat 10px 0px; }
      #taskbar .icons > span.icon-minimize:after {
        background: url("../images/win-icons.png") no-repeat 10px -90px; }

/** Main Content **/
#main-content {
  position: relative;
  -webkit-app-region: no-drag; }
  #main-content nav {
    width: 172px;
    float: left; }
    #main-content nav > div {
      display: none;
      color: #fff;
      background-color: #9B9D9E;
      margin: 0 6px 1px 6px;
      padding: 8px 14px;
      border-radius: 4px;
      font-size: .75rem; }
      #main-content nav > div.enabled {
        display: block; }
      #main-content nav > div:hover, #main-content nav > div.active {
        background: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%); }
  #main-content section {
    background-color: #fff;
    margin-left: 172px;
    margin-right: 2px;
    height: 365px;
    border: 1px solid #C3C4C6; }
    #main-content section h2 {
      background: #5C99DE;
      color: #fff;
      padding: 10px; }
    #main-content section .cols {
      display: block; }
      #main-content section .cols.wifi {
        height: 2rem; }
      #main-content section .cols > span {
        display: inline-block;
        vertical-align: baseline;
        height: 1.45rem; }
        #main-content section .cols > span:first-child {
          width: 140px;
          text-align: right;
          padding-right: 5px; }
        #main-content section .cols > span input[name="key"] {
          display: inline-block;
          width: 130px; }
    #main-content section .wifi.disabled {
      color: #A1A1A1; }

#deviceIP {
  position: absolute;
  right: 10px;
  top: 1.5px;
  color: #fff;
  padding: 10px;
  font-size: .75rem;
  border: 1px solid #5C99DE; }
  #deviceIP:hover {
    border: 1px solid #F8DE7E;
    color: #F8DE7E; }
    #deviceIP:hover:before {
      content: '\270E';
      font-size: 24px;
      vertical-align: middle;
      line-height: 1px;
      padding-right: 7px; }

#reset-block {
  padding: 45px 10px;
  text-align: center; }
  #reset-block > div {
    display: inline-block; }
    #reset-block > div button {
      min-width: 135px; }
    #reset-block > div > div {
      font-size: .75rem;
      line-height: 1.5rem; }

#setting-form {
  font-size: 0.8rem;
  margin-top: 20px; }
  #setting-form input[type="text"],
  #setting-form select {
    width: 211px;
    vertical-align: middle;
    height: 2rem; }
  #setting-form select {
    border: none; }
  #setting-form button {
    padding: 0px 15px;
    height: 2rem; }

#protection-form {
  margin-left: 50px;
  margin-top: 22px; }
  #protection-form > div {
    margin-bottom: 10px; }
    #protection-form > div .pw-inputs {
      margin: 10px 35px; }
      #protection-form > div .pw-inputs > div {
        margin-bottom: 10px; }
        #protection-form > div .pw-inputs > div > span {
          display: inline-block;
          font-size: .75rem; }
      #protection-form > div .pw-inputs input {
        width: 142px;
        height: 2rem; }

#upgrade-block {
  padding: 45px 10px;
  text-align: center; }

/* jQuery UI dialog */
.ui-widget-overlay {
  opacity: 0.9; }

.ui-draggable .ui-dialog-titlebar {
  visibility: hidden; }

.ui-dialog {
  -webkit-app-region: no-drag; }
  .ui-dialog p {
    margin: .5rem;
    line-height: 2; }
  .ui-dialog.ui-widget {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #75706C), color-stop(85%, #4E4A49));
    background-color: #4E4A49;
    border: 1px solid #4E4A49; }
  .ui-dialog .ui-dialog-content {
    color: #fff;
    font-size: 1rem;
    text-align: center; }
  .ui-dialog .ui-dialog-buttonpane {
    background: none;
    border: none;
    text-align: center;
    padding: .3rem .4rem; }
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
      float: none;
      text-align: center; }
    .ui-dialog .ui-dialog-buttonpane button {
      width: 120px;
      padding: 5px;
      color: #fff;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #565656), color-stop(95%, #000000));
      background-color: #000;
      border: 1px solid #000;
      border-radius: 5px; }

#dialog-waiting p {
  margin: 0 auto; }
