html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font: normal 1rem/1 "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  cursor: default;
  -webkit-user-select: none;
  -webkit-app-region: drag; }

#group-file {
  background-image: -webkit-linear-gradient(#FFFFFF, #DCDCDC);
  border: 2px solid #BBBDBF;
  margin: 0;
  padding: 0;
  min-width: 500px;
  min-height: 700px;
  width: 500px;
  height: 700px;
  position: relative; }

/** Taskbar: minimize, close **/
#taskbar {
  height: 37px; }
  #taskbar .icons {
    height: 15px;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: -1px; }
    #taskbar .icons > span {
      display: inline-block;
      width: 35px;
      height: 15px;
      margin-left: 2px;
      cursor: pointer;
      background-image: -webkit-linear-gradient(#545754, #14211F);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      outline: none; }
      #taskbar .icons > span:hover {
        background-image: -webkit-linear-gradient(#727574, #323F3D); }
      #taskbar .icons > span:active {
        background-image: -webkit-linear-gradient(#3DA1E0, #1A6396); }
      #taskbar .icons > span:after {
        content: ' ';
        display: block;
        width: 33px;
        height: 15px;
        margin: 0;
        padding: 0;
        background: url("../images/win-icons.png") no-repeat 10px 0px; }
      #taskbar .icons > span.icon-minimize:after {
        background: url("../images/win-icons.png") no-repeat 10px -90px; }

/** Common style **/
.title {
  padding-left: 6px; }

.border {
  border: 1px solid #cccccc; }

.right {
  position: absolute;
  right: 0;
  top: 0; }

.hide {
  display: none; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

input[type="text"] {
  -webkit-appearance: none;
  color: #fff;
  background-color: #6D6E70;
  font-family: inherit;
  border: 1px solid transparent;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 175px;
  margin: 0;
  padding: 0.25rem;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }
  input[type="text"]:focus {
    box-shadow: 0 0 5px #999999;
    border-color: #999999;
    outline: none; }
    input[type="text"]:focus.error {
      border-color: red; }

.button {
  display: inline-block;
  color: #DDD;
  background-image: -webkit-linear-gradient(#0175B2, #022336);
  border: 0;
  border-radius: 6px;
  text-align: center;
  font-size: .85rem;
  padding: 0.4rem 1.35rem;
  box-sizing: border-box;
  outline: none; }

.button:hover {
  color: #fff;
  background-image: -webkit-linear-gradient(#2498D5, #254659); }

.button:active {
  color: #fff;
  background-image: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%); }

.button-black {
  display: inline-block;
  color: #fff;
  background-image: -webkit-linear-gradient(#545754, #14211F);
  border-radius: 4px;
  text-align: center;
  font-size: .9rem;
  padding: 0.5rem 1rem;
  border: none;
  box-sizing: border-box;
  outline: none; }

.button-black:hover {
  color: #fff;
  background-image: -webkit-linear-gradient(#7C7F7C, #3C4947); }

.button-black:active {
  color: #fff;
  background-image: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%); }

.errorMsg {
  display: none;
  margin-left: 3.4rem;
  color: red; }
  .errorMsg.show {
    display: block; }

#main-content {
  padding: 3px; }
  #main-content header {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px; }
    #main-content header > div {
      display: table-cell;
      width: 50%; }
      #main-content header > div > div.border {
        height: 50px;
        padding: 13.75px 5px; }
        #main-content header > div > div.border > div {
          margin-bottom: 3px; }
        #main-content header > div > div.border label {
          display: inline-block;
          width: 45px;
          font-size: .9rem; }
  #main-content section {
    margin-top: 15px; }
    #main-content section > div:first-child {
      height: 2rem;
      position: relative; }
      #main-content section > div:first-child > div.title {
        position: relative;
        bottom: -1rem; }
    #main-content section > div.border {
      height: 450px;
      overflow: hidden;
      overflow-y: auto; }
    #main-content section ul {
      width: 100%;
      margin: 0;
      padding: 0; }
      #main-content section ul li {
        background-image: -webkit-linear-gradient(#FFFFFF, #E6E6E6);
        border-bottom: 1px solid #cccccc;
        -webkit-app-region: no-drag; }
        #main-content section ul li:hover, #main-content section ul li.focus {
          background-image: -webkit-linear-gradient(#C8C8C8, #F0F0F0); }
        #main-content section ul li > div {
          display: table;
          width: 100%;
          margin: 0 auto;
          border: 0; }
          #main-content section ul li > div > div {
            display: table-cell;
            vertical-align: middle; }
            #main-content section ul li > div > div:first-child, #main-content section ul li > div > div:last-child {
              width: 50px;
              text-align: center; }
          #main-content section ul li > div .person-icon {
            display: block;
            width: 45px;
            height: 45px;
            background: url("../images/bn_check.png") no-repeat -157px 4px; }
          #main-content section ul li > div input {
            width: 100%;
            box-shadow: none;
            border: 1px solid transparent;
            background-color: transparent;
            color: #000;
            margin: 2px; }
            #main-content section ul li > div input.student-name {
              margin-bottom: 0;
              font-size: 1rem; }
            #main-content section ul li > div input.student-device {
              font-size: .75rem; }
            #main-content section ul li > div input.error {
              border: 1px solid red; }
          #main-content section ul li > div .delete {
            display: none; }
        #main-content section ul li.selected, #main-content section ul li.dragover {
          background-image: -webkit-linear-gradient(#408FEB, #265EA6); }
          #main-content section ul li.selected .person-icon, #main-content section ul li.dragover .person-icon {
            display: block;
            width: 45px;
            height: 45px;
            background: url("../images/bn_check.png") no-repeat -157px -41px; }
          #main-content section ul li.selected input, #main-content section ul li.dragover input {
            background-color: #F1F1F2; }
            #main-content section ul li.selected input.error, #main-content section ul li.dragover input.error {
              border: 1px solid red; }
          #main-content section ul li.selected .delete, #main-content section ul li.dragover .delete {
            display: block;
            width: 20px;
            height: 20px;
            background: url("../images/bn_tools_01.png") no-repeat -220px 0px;
            margin: 0 auto; }
        #main-content section ul li.selected input.student-name, #main-content section ul li.selected input.student-device {
          font-size: .85rem; }
  #main-content #add-item {
    display: block;
    position: absolute;
    bottom: 2px;
    right: 5px; }
  #main-content footer {
    margin: 10px;
    text-align: right;
    position: relative; }
    #main-content footer #msg {
      display: inline-block;
      color: green;
      padding: 0;
      padding-right: 2rem; }
      #main-content footer #msg.error {
        color: red; }

/***** Dialog - msg-page style ******/
.msg-page,
.msg-page .ui-dialog-buttonpane {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404242), color-stop(100%, #141417)); }

.msg-page .ui-dialog-content {
  color: #fff; }

.msg-page .ui-dialog-titlebar {
  background: none;
  border: none; }

.msg-page .ui-dialog-buttonpane {
  background: none; }

.msg-page .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
  text-align: center; }

.msg-page .ui-dialog-buttonpane button {
  color: #DDDDDD;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0175B2), color-stop(100%, #022336));
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0.3rem 0.75rem;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  border-radius: 4px;
  font-size: .9rem;
  outline: none;
  margin: 0 1rem; }

.msg-page .ui-dialog-buttonpane button:active {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2498D5), color-stop(100%, #254659)); }

.msg-page .ui-dialog-buttonpane button:hover {
  color: #fff;
  background: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%); }

.msg-page .ui-dialog-titlebar-close {
  border: 0;
  background: none;
  outline: none; }

.msg-page .ui-icon-closethick {
  background: none;
  color: #ddd;
  transform: rotate(45deg); }

.msg-page .ui-icon-closethick:after,
.msg-page .ui-icon-closethick:before {
  content: '';
  pointer-events: none;
  box-shadow: inset 0 0 0 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.msg-page .ui-icon-closethick:before {
  width: 20px;
  height: 2px; }

.msg-page .ui-icon-closethick:after {
  height: 20px;
  width: 2px; }

/***** Dialog - only close button ******/
.no-close .ui-dialog-titlebar-close,
.no-titlebar .ui-dialog-titlebar,
.titlbar-only-close .ui-dialog-title,
.no-buttonpane .ui-dialog-buttonpane {
  display: none; }

.titlbar-only-close .ui-widget-header {
  border: 0;
  background: none;
  height: 1rem; }

.ui-dialog.titlbar-only-close {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #545754), color-stop(100%, #14211F));
  border: 0;
  outline: none; }

.ui-dialog.titlbar-only-close .ui-dialog-titlebar-close {
  border: 0;
  background: none;
  outline: none; }

.ui-dialog.titlbar-only-close .ui-icon-closethick {
  background: none;
  color: #ddd;
  transform: rotate(45deg); }

.ui-dialog.titlbar-only-close .ui-icon-closethick:after,
.ui-dialog.titlbar-only-close .ui-icon-closethick:before {
  content: '';
  pointer-events: none;
  box-shadow: inset 0 0 0 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.ui-dialog.titlbar-only-close .ui-icon-closethick:before {
  width: 20px;
  height: 2px; }

.ui-dialog.titlbar-only-close .ui-icon-closethick:after {
  height: 20px;
  width: 2px; }

.ui-dialog.titlbar-only-close .ui-widget-content {
  border: 0; }

#discard-change {
  text-align: center; }
