/** guillemet **/
.guillemet {
  display: inline-block;
  border: 0px solid gray;
  padding: 5px;
  color: gray;
}
.guillemet:before {
  font-family: Times, Serif;
  content: "\00BB";
  font-size: 150%;
  line-height: 0;
}
.guillemet:hover {
  color: #fff;
}
.guillemet.down {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.guillemet.up {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.guillemet.left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.guillemet.right {
}

/** Triangle **/
.guillemet.triangleUp:before {
  content: "\25B2";
}
.guillemet.triangleRight:before {
  content: "\25BA";
}
.guillemet.triangleDown:before {
  content: "\25BC";
}
.guillemet.triangleLeft:before {
  content: "\25C4";
}

/** Dotted **/
.guillemet.dotted:before {
  content: "\21E1";
}
/** Dashed **/
.guillemet.dashed:before {
  content: "\21d2";
}
/** Heavy dashed **/
.guillemet.heavyDashed:before {
  content: "\21db";
}
/** X heavy **/
.guillemet.heavyX:before {
  content: "\2573";
  font-size: 100%;
  font-weight: bold;
}
/** X light **/
.guillemet.lightX:before {
  content: "\2573";
  font-size: 100%;
  font-weight: normal;
}
/** N dash **/
.guillemet.ndash:before {
  content: "\2013";
}
/** M dash **/
.guillemet.mdash:before {
  content: "\2014";
}
/** N dash **/
.guillemet.dash:before {
  content: "\ff0d";
}

/** warning **/
.guillemet.warning {
  position: relative;
  width: 40px;
  height: 20px;
}
.guillemet.warning:before {
  content: '!';
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: transparent solid;
  border-bottom-color: red;
  border-width: 0px 20px 40px 20px;
  color: #fff;
  font-family: Verdana;
  font-weight: bold;
  font-size: 23px;
  line-height: 50px;
  text-indent: -4px;
}

/* We use this to get basic styling on most basic form elements */
/** Most inputs **/
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  display: block;
  font-family: inherit;
  font-size: 0.875rem;
  color: #fff;
  width: 100%;
  height: 2.3125rem;
  margin: 0;
  padding: 0.5rem;
  -webkit-appearance: none;
  background-color: #A6A8AB;
  border: 1px solid #A6A8AB;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: rgba(255, 255, 255, 0.5);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  border-bottom: 1px solid #808184;
  box-shadow: 0 0 5px #808184;
  outline: none;
}

input[type="text"][disabled],
fieldset[disabled] input[type="text"],
input[type="password"][disabled],
fieldset[disabled] input[type="password"],
input[type="date"][disabled],
fieldset[disabled] input[type="date"],
input[type="datetime"][disabled],
fieldset[disabled] input[type="datetime"],
input[type="datetime-local"][disabled],
fieldset[disabled] input[type="datetime-local"],
input[type="month"][disabled],
fieldset[disabled] input[type="month"],
input[type="week"][disabled],
fieldset[disabled] input[type="week"],
input[type="email"][disabled],
fieldset[disabled] input[type="email"],
input[type="number"][disabled],
fieldset[disabled] input[type="number"],
input[type="search"][disabled],
fieldset[disabled] input[type="search"],
input[type="tel"][disabled],
fieldset[disabled] input[type="tel"],
input[type="time"][disabled],
fieldset[disabled] input[type="time"],
input[type="url"][disabled],
fieldset[disabled] input[type="url"],
textarea[disabled],
fieldset[disabled] textarea {
  opacity: .5;
  border: none;
}

input[type="text"].radius,
input[type="password"].radius,
input[type="date"].radius,
input[type="datetime"].radius,
input[type="datetime-local"].radius,
input[type="month"].radius,
input[type="week"].radius,
input[type="email"].radius,
input[type="number"].radius,
input[type="search"].radius,
input[type="tel"].radius,
input[type="time"].radius,
input[type="url"].radius,
textarea.radius {
  border-radius: 4px;
}

input[type="submit"] {
  -webkit-appearance: none;
}


/** Checkbox & Radio **/
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2rem;
  margin    : 0;
  padding   : 0;
  font-size : 1rem;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2rem;
  line-height  : 1.75rem;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  font-size        : 1rem;
  width            : 1.1rem;
  height           : 1.1rem;
  margin           : 0.25rem 0.5rem 0.25rem 0.25rem;
  border           : 0.062rem solid #6D6E70;
  border-radius    : 0.55rem;
  background       : #6D6E70;
  vertical-align   : bottom;
}

input[type=checkbox]:not(old) + label > span{
  border           : 1px solid rgba(255,255,255,0.5);
  border-radius    : 0.25rem;
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '\2228';
  display     : block;
  width       : 1rem;
  color       : #ADF03F;
  font-size   : 1.15rem;
  line-height : 1rem;
  text-align  : center;
  text-shadow : 0 0 0.0714rem rgb(115,153,77);
  font-weight : bold;
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.9rem;
  height           : 0.9rem;
  margin           : 0.04rem;
  border           : 0.0625rem solid rgb(95,161,24);
  border-radius    : 0.45rem;
  background       : rgb(153,204,102);
  background-image : linear-gradient(rgb(187,244,81),rgb(95,161,24));
}

input[type=radio][disabled]:not(old):checked + label > span > span{
  background       : gray;
  border-color     : gray;
}


select {
  color: #fff;
  background: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
  border: 1px solid #265EA6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  border-radius: 4px;
}
select > option {
  color: #000;
  background: #fff;
}
[selected] {
  color: #fff;
  background-image : -webkit-linear-gradient(#408FEB, #265EA6);
}

/** f-dropdown **/
.f-dropdown {
  position: absolute;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  outline: none;
  display: none;
  width: 100%;
  max-height: none;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404242), color-stop(100%, #151518));
  border-radius: 4px;
  font-size: 0.77778rem;
  z-index: 89;
  padding: 5px 0;
  margin-top: 2px;
  max-width: 200px; }
  .f-dropdown.open {
    display: block; }
  .f-dropdown > *:first-child {
    margin-top: 0; }
  .f-dropdown > *:last-child {
    margin-bottom: 0; }
  .f-dropdown:before {
    content: "";
    display: none;
    width: 0;
    height: 0;
    border: inset 6px;
    border-color: transparent transparent #FFFFFF transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -12px;
    left: 10px;
    z-index: 89; }
  .f-dropdown:after {
    content: "";
    display: none;
    width: 0;
    height: 0;
    border: inset 7px;
    border-color: transparent transparent #cccccc transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -14px;
    left: 9px;
    z-index: 88; }
  .f-dropdown.right:before {
    display: block;
    left: auto;
    right: 10px; }
  .f-dropdown.right:after {
    display: block;
    left: auto;
    right: 9px; }
  .f-dropdown.drop-right {
    position: absolute;
    left: -9999px;
    list-style: none;
    margin-left: 0;
    outline: none;
    display: none;
    width: 100%;
    max-height: none;
    height: auto;
    color: #D0D2D3;
    background: #000;
    border-radius: 4px;
    font-size: 0.77778rem;
    z-index: 89;
    margin-top: 0;
    margin-left: 2px;
    max-width: 200px; }
    .f-dropdown.drop-right.open {
      display: block; }
    .f-dropdown.drop-right > *:first-child {
      margin-top: 0; }
    .f-dropdown.drop-right > *:last-child {
      margin-bottom: 0; }
    .f-dropdown.drop-right:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 6px;
      border-color: transparent #FFFFFF transparent transparent;
      border-right-style: solid;
      position: absolute;
      top: 10px;
      left: -12px;
      z-index: 89; }
    .f-dropdown.drop-right:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 7px;
      border-color: transparent #cccccc transparent transparent;
      border-right-style: solid;
      position: absolute;
      top: 9px;
      left: -14px;
      z-index: 88; }
  .f-dropdown.drop-left {
    position: absolute;
    left: -9999px;
    list-style: none;
    margin-left: 0;
    outline: none;
    display: none;
    width: 100%;
    max-height: none;
    height: auto;
    font-size: 0.77778rem;
    z-index: 89;
    margin-top: 0;
    margin-left: -2px;
    max-width: 200px; }
    .f-dropdown.drop-left.open {
      display: block; }
    .f-dropdown.drop-left > *:first-child {
      margin-top: 0; }
    .f-dropdown.drop-left > *:last-child {
      margin-bottom: 0; }
    .f-dropdown.drop-left:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 6px;
      border-color: transparent transparent transparent #FFFFFF;
      border-left-style: solid;
      position: absolute;
      top: 10px;
      right: -12px;
      left: auto;
      z-index: 89; }
    .f-dropdown.drop-left:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 7px;
      border-color: transparent transparent transparent #cccccc;
      border-left-style: solid;
      position: absolute;
      top: 9px;
      right: -14px;
      left: auto;
      z-index: 88; }
  .f-dropdown.drop-top {
    position: absolute;
    left: -9999px;
    list-style: none;
    margin-left: 0;
    outline: none;
    display: none;
    width: 100%;
    max-height: none;
    height: auto;
    background: #FFFFFF;
    border: solid 1px #cccccc;
    font-size: 0.77778rem;
    z-index: 89;
    margin-top: -2px;
    margin-left: 0;
    max-width: 200px; }
    .f-dropdown.drop-top.open {
      display: block; }
    .f-dropdown.drop-top > *:first-child {
      margin-top: 0; }
    .f-dropdown.drop-top > *:last-child {
      margin-bottom: 0; }
    .f-dropdown.drop-top:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 6px;
      border-color: #FFFFFF transparent transparent transparent;
      border-top-style: solid;
      position: absolute;
      top: auto;
      bottom: -12px;
      left: 10px;
      right: auto;
      z-index: 89; }
    .f-dropdown.drop-top:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 7px;
      border-color: #cccccc transparent transparent transparent;
      border-top-style: solid;
      position: absolute;
      top: auto;
      bottom: -14px;
      left: 9px;
      right: auto;
      z-index: 88; }
  .f-dropdown li {
    font-size: 0.8rem;
    text-align: left;
    cursor: pointer;
    line-height: 1rem;
    vertical-align: middle;
    margin: 0 10px; }
    .f-dropdown li.radius {
      border-radius: 3px; }
    .f-dropdown li a {
      display: block;
      padding: 0.5rem;
      text-decoration: none;
      color: #D0D2D3; }
    .f-dropdown li:hover,
    .f-dropdown li:focus {
      color: #fff;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #408FEB), color-stop(100%, #265EA6));}
    .f-dropdown li:hover a {
      color: #fff; }
  .f-dropdown.content {
    position: absolute;
    left: -9999px;
    list-style: none;
    margin-left: 0;
    outline: none;
    display: none;
    padding: 1.11111rem;
    width: 100%;
    height: auto;
    max-height: none;
    background: #FFFFFF;
    border: solid 1px #cccccc;
    font-size: 0.77778rem;
    z-index: 89;
    max-width: 200px; }
    .f-dropdown.content.open {
      display: block; }
    .f-dropdown.content > *:first-child {
      margin-top: 0; }
    .f-dropdown.content > *:last-child {
      margin-bottom: 0; }
  .f-dropdown.tiny {
    max-width: 200px; }
  .f-dropdown.small {
    max-width: 300px; }
  .f-dropdown.medium {
    max-width: 500px; }
  .f-dropdown.large {
    max-width: 800px; }
  .f-dropdown.mega {
    width: 100% !important;
    max-width: 100% !important; }
    .f-dropdown.mega.open {
      left: 0 !important;}
/** End of f-dropdown **/

.arrow_box {
  position: relative;
  background: #fff;
  left: -4px;
}
.arrow_box:after,
.arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:before {
  border-right-color: #fff;
  border-width: 11px;
  margin-top: -11px;
}
.arrow_box:after {
  border-right-color: #CBCCCD;
  border-width: 10px;
  margin-top: -10px;
}

.icon-right {
  position: relative;
  background: rgba(255, 255, 255, 1);
}
.icon-right:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 1);
  border-width: 10px;
  margin-top: -10px;
}


/** loading icon**/
.loading-circle {
  width: 50px;
  height: 50px;
  margin: auto;
  background-image: url(../images/loading_sprite.png);
  -webkit-animation: circle steps(12) 1s infinite; 
}
@-webkit-keyframes circle {
   from { background-position: 0    0px; }
     to { background-position: 0 -600px; }
}
.loading-circle-small {
  width: 35px;
  height: 35px;
  background-image: url(../images/loading_small_sprite.png);
  -webkit-animation: circle_small steps(12) 1s infinite; 
}
@-webkit-keyframes circle_small {
   from { background-position: 0    0px; }
     to { background-position: 0 -420px; }
}
