html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: normal 1rem/1 "Myriad Pro","Helvetica Neue", "Helvetica", Arial, sans-serif;
  cursor: default;
  color: #808184;
  background-color: transparent;
  overflow: hidden;
  -webkit-user-select: none;
}

#startLoading {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

#container {
  width: 434px;
  background-image: url(../images/bg.jpg);
  background-size: contain;
  border: 2px solid #BBBDBF;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  font: normal 1rem/1 "Myriad Pro","Helvetica Neue", "Helvetica", Arial, sans-serif;
}

/***** License *****/
#container.license {
  display: block;
  line-height: 150%;
  min-height: 192px;
  color: #fff;
  background-image: -webkit-linear-gradient(#404242, #141417);
  text-align: center;
}
#container.license > div {
  margin: 20px;
}
#container.license > div > div {
  min-height: 50px;
}
#container.license input {
  color: #DDDDDD;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0175B2), color-stop(100%, #022336));
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1.5rem;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  border-radius: 4px;
  font-size: .9rem;
  outline: none;
  margin: 0 1rem;
}
#container.license input:active {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2498D5), color-stop(100%, #254659));
}
#container.license input:hover {
  color: #fff;
  background: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
}


/***** Common *****/
h4 {
  margin: 0;
  line-height: 1.5;
  font-size: 1.2rem;
}

.hide {
  display: none;
}

.flexbox {
  display:flex;
  align-items:center;
  justify-content:center;
}

.icon-audio-on,
.icon-audio-off {
  display: inline-block;
  width: 28px;
  height: 16px;
  background-image: url('../images/icons_projection_mode.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: text-bottom;
}
.icon-audio-on {
  background-position: 0 -32px;
}

.button {
  display: inline-block;
  color: #fff;
  background: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
  border: 1px solid #265EA6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0.3rem 0.75rem;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  border-radius: 4px;
  font-size: .9rem;
  outline: none;
}

.button-black {
  display: inline-block;
  color: #DDD;
  background-image : -webkit-linear-gradient(#545754, #14211F);
  border-radius: 4px;
  text-align: center;
  font-size: .9rem;
  padding: 0.3rem 0.75rem;
  box-sizing: border-box;
  outline: none;
}
.button-black:hover {
  color: #fff;
  background-image : -webkit-linear-gradient(#7C7F7C, #3C4947);
}
.button-black:active {
  color: #fff;
  background-image: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
}

.navy {
  color: #DDD;
  background-image: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
  border: 0;
  outline: none;
}
.navy:hover {
  color: #fff;
  background-image: -webkit-linear-gradient(#2498D5, #254659);
}
.navy:active {
  color: #fff;
  background-image: -webkit-linear-gradient(#0175B2, #022336);
}

hr {
  border: 0px;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

.ui-widget-overlay {
  opacity: .8;
}
.ui-widget-overlay:before {
  display: block;
  content: "\00a0";
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 50px;
}

#progressbar {
  font-size: .5rem;
}
.deepskyblue {
  color: #88B7DA;
}
.progress-label {
  font-size: .9rem;
  line-height: 2;
}

/** Dialog - Message page **/
#connectedTimerPage,
#updateConfirmPage,
.message-page {
  text-align: center;
  padding: 1rem;
  font-size: .9rem;
}
#updateConfirmPage p,
.message-page p {
  line-height: 1.5;
  font-size: .9rem;
}
.message-page img {
  max-width: 90%;
  max-height: 90%;
}
.message-page .left {
  text-align: left;
}
.message-page .button {
  margin: 1rem;
  margin-bottom: 0;
}
.msg-page,
.msg-page .ui-dialog-buttonpane {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404242), color-stop(100%, #141417));
}
.msg-page .ui-dialog-content {
  color: #fff;
}
.msg-page .ui-widget-content a {
  color: aqua;
  word-wrap: break-word;
}
.msg-page .ui-dialog-titlebar {
  background: none;
  border: none;
}
.msg-page .ui-dialog-buttonpane {
  background: none;
}
.msg-page .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
  text-align: center;
}
.msg-page .ui-dialog-buttonpane button {
  color: #DDDDDD;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0175B2), color-stop(100%, #022336));
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0.3rem 0.75rem;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  border-radius: 4px;
  font-size: .9rem;
  outline: none;
  margin: 0 1rem;
}
.msg-page .ui-dialog-buttonpane button:active {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2498D5), color-stop(100%, #254659));
}
.msg-page .ui-dialog-buttonpane button:hover {
  color: #fff;
  background: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
}
.msg-page .ui-dialog-titlebar-close {
  border: 0;
  background: none;
  outline: none;
}
.msg-page .ui-icon-closethick {
  background: none;
  color: #ddd;
  transform: rotate(45deg);
}
.msg-page .ui-icon-closethick:after,
.msg-page .ui-icon-closethick:before {
  content: '';
  pointer-events: none;
  box-shadow: inset 0 0 0 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.msg-page .ui-icon-closethick:before {
  width: 20px;
  height: 2px;
}
.msg-page .ui-icon-closethick:after {
  height: 20px;
  width: 2px;
}
.msg-page .toggleTeacherPwMsg {
  margin-left: 0;
}
.msg-page .inputURLArea {
  position: relative;
}
.msg-page .inputIcon {
  display: inline-block;
  content: ' ';
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 7px;
}
#inputLink {
  padding-right: 60px;
}
.msg-page .inputURLArea .error {
  color: red;
  font-size: .9rem;
  text-align: left;
  margin: 5px 10px;
}
.msg-page .inputIcon.paste {
  background: url(../images/icon-sharing.png) no-repeat 0 0;
}
.msg-page .inputIcon.paste:hover {
  background: url(../images/icon-sharing.png) no-repeat 0 -25px;
}
.msg-page .inputIcon.clear {
  background: url(../images/icon-sharing.png) no-repeat 0 -50px;
  right: 30px;
}
.msg-page .inputIcon.clear:hover {
  background: url(../images/icon-sharing.png) no-repeat 0 -75px;
}

.remove-cover {
  text-align: right;
  font-size: .8rem;
}
.remove-cover > span {
  color: rgba(255, 255, 255, .5);
}
.remove-cover > span:hover {
  color: rgba(237, 223, 128, 1);
}
.remove-cover > span:before {
  display: inline-block;
  content: ' ';
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-sharing.png);
  background-repeat: no-repeat;
  background-position: 0 -100px;
  margin-bottom: -5px;
  margin-right: 3px;
}
.remove-cover > span:hover:before {
  background-position: 0 -125px;
}

.linkHistory {
  padding: 0 0 0 .25rem;
  margin-top: 5px;
  overflow: auto;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  -webkit-user-select: initial;
}
.linkHistory li {
  word-break: break-all;
  border-top: 1px solid rgba(255, 255, 255, .25);
  margin-bottom: .5rem;
  padding: .75rem 1.5rem .5rem .5rem;
  position: relative;
}
.linkHistory .senderName {
  color: gray;
  font-size: .8rem;
}
.linkHistory li .remove {
  display: none;
  content: ' ';
  position: absolute;
  top: 12px;
  right: 5px;
  width: 15px;
  height: 15px;
  background: url(../images/icon-remove.png) no-repeat 0 0;
}
.linkHistory li .remove:hover {
  background: url(../images/icon-remove-hover.png) no-repeat 0 0;
}
.linkHistory li:hover .remove {
  display: block;
}
.linkHistory li .send-url {
  display: none;
  content: ' ';
  position: absolute;
  top: 30px;
  right: 1.225px;
  width: 23px;
  height: 23px;
  background: url(../images/tool_share.png) no-repeat 0 0;
  background-size: contain;
}
.linkHistory li .send-url:hover {
  background: url(../images/tool_share_active.png) no-repeat 0 0;
  width: 23px;
  height: 23px;
  background-size: contain;
}
.linkHistory li:hover .send-url {
  display: block;
}


/***** Dialog - only close button ******/
.no-close .ui-dialog-titlebar-close,
.no-titlebar .ui-dialog-titlebar,
.titlbar-only-close .ui-dialog-title,
.no-buttonpane .ui-dialog-buttonpane {
  display: none;
}
.titlbar-only-close .ui-widget-header {
  border: 0;
  background: none;
  height: 1rem;
}
.ui-dialog.titlbar-only-close {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #545754), color-stop(100%, #14211F));
  border: 0;
  outline: none;
}
.ui-dialog.titlbar-only-close .ui-dialog-titlebar-close {
  border: 0;
  background: none;
  outline: none;
}
.ui-dialog.titlbar-only-close .ui-icon-closethick {
  background: none;
  color: #ddd;
  transform: rotate(45deg);
}
.ui-dialog.titlbar-only-close .ui-icon-closethick:after,
.ui-dialog.titlbar-only-close .ui-icon-closethick:before {
  content: '';
  pointer-events: none;
  box-shadow: inset 0 0 0 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.ui-dialog.titlbar-only-close .ui-icon-closethick:before {
  width: 20px;
  height: 2px;
}
.ui-dialog.titlbar-only-close .ui-icon-closethick:after {
  height: 20px;
  width: 2px;
}
.ui-dialog.titlbar-only-close .ui-widget-content {
  border: 0;
}

.sendLinkMsg a {
  display: block;
}

/***** Taskbar ******/
.taskbar {
  min-height: 40px;
  position: relative;
}

.disconnect {
  display: block;
  height: 40px;
}
.disconnect > div {
  display: inline-block;
  margin: 5px 0;
  padding: 0 5px;
  list-style: 22px;
  vertical-align: middle;
}
.icon-logo {
  width: 24px;
  height: 21px;
  background: url("../images/logo_novo.png") no-repeat 7px 0px;
}
#icon-offline-tool,
#toggle-drop-setting {
  width: 22px;
  height: 22px;
  background: url("../images/bn_tools_01.png") no-repeat 7px 0px;
  cursor: pointer;
  border-left: 1px solid #BBBDBF;
}
#icon-offline-tool:hover {
  background: url("../images/bn_tools_01.png") no-repeat 7px -31px;
}
#icon-offline-tool:active,
#icon-offline-tool.focus {
  background: url("../images/bn_tools_01.png") no-repeat 7px -62px;
}

#toggle-drop-setting {
  background: url("../images/bn_tools_01.png") no-repeat -27px 0px;
}
#toggle-drop-setting:hover {
  background: url("../images/bn_tools_01.png") no-repeat -27px -31px;
}
#toggle-drop-setting:active,
#toggle-drop-setting.focus {
  background: url("../images/bn_tools_01.png") no-repeat -27px -62px;
}
#drop-setting,
#drop-sharing {
  min-width: 10rem;
  width: auto;
  max-width: none;
  left: 90px;
  top: 10px;
  list-style: disc inside;
  padding: 8px;
}
#drop-setting > li,
#drop-sharing > li {
  margin: 0;
  padding-left: 16px;
  text-indent: -12px;
}
#toggle-drop-setting.focus #drop-setting {
  display: block;
}

.connected {
  padding: 17px 10px 0px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ECECEC), color-stop(100%, #C8C8C8));
  border-bottom: 2px solid #929497;
}
.connected > div {
  display: inline-block;
  width: 69px;
  height: 50px;
  margin-right: 7px;
}
#logo {
  margin-right: 0;
  position: relative;
}
#logo > span {
  display: inline-block;
  width: 49px;
  height: 49px;
  background-image: url(../images/logo_novo_big2.png);
  background-repeat: no-repeat;
  background-position: 0;
  margin-left: 9px;
}
#logo.hover > span {
  background-position: -120px 0;
  cursor: pointer;
}
#logo.loading > span {
  background-repeat: no-repeat;
  background-size: initial;
  width: 50px;
  height: 50px;
  background-image: url(../images/loading_sprite.png);
  -webkit-animation: circle steps(12) 1s infinite;
  cursor: progress;
}
#logo.pause > span {
  background-image: url(../images/logo_pause-gray.png);
  background-repeat: no-repeat;
  background-position: -12px;
  cursor: pointer;
}
.topBtn,
#icon-projection {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #E6E6E6)); 
  border: 1px solid #BABCBE;
  border-radius: 4px;
}
.topBtn:hover,
#icon-projection:hover {
  background: #FFFFFF;
  border: 1px solid #BFC0C2;
  width: 69px;
  height: 50px;
  color: #808184;
  cursor: pointer;
}
.topBtn:active,
.topBtn.focus,
#icon-projection:active,
#icon-projection.focus {
  background: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
  border: 0; 
  width: 71px;
  height: 52px;
  color: #fff;
}
.topBtn > span,
#icon-projection > span {
  display: block;
  width: 33px;
  height: 33px;
  margin: 7.5px auto;
}
.topBtn.disable,
.topBtn.disable:hover,
.topBtn.disable:active,
#icon-projection.disable,
#icon-projection.disable:hover,
#icon-projection.disable:active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #E6E6E6)); 
  border: 1px solid #CDCECF;
  width: 69px;
  height: 50px;
  opacity: 0.5;
  cursor: pointer;
}

#icon-connect > span {
  background: url("../images/bn_tools_01.png") no-repeat -321px 0px;
}
#icon-connect:hover > span {
  background: url("../images/bn_tools_01.png") no-repeat -321px -43px;
  cursor: pointer;
}
#icon-connect:active > span,
#icon-connect.focus > span {
  background: url("../images/bn_tools_01.png") no-repeat -321px -86px;
}

#icon-group > span {
  background: url("../images/bn_tools_01.png") no-repeat -362px 0px;
}
#icon-group:hover > span {
  background: url("../images/bn_tools_01.png") no-repeat -362px -43px;
  cursor: pointer;
}
#icon-group:active > span,
#icon-group.focus > span {
  background: url("../images/bn_tools_01.png") no-repeat -362px -86px;
}

#icon-tool > span {
  background: url("../images/bn_tools_01.png") no-repeat -403px 0px;
}
#icon-tool:hover > span {
  background: url("../images/bn_tools_01.png") no-repeat -403px -43px;
}
#icon-tool:active > span,
#icon-tool.focus > span {
  background: url("../images/bn_tools_01.png") no-repeat -403px -86px;
}

#icon-projection {
}
#icon-projection > span {
  background: url("../images/icon_swtich_mode.png") no-repeat -3px -54px;
}
#icon-projection:hover > span {
  background: url("../images/icon_swtich_mode.png") no-repeat -3px -54px;
  cursor: pointer;
}
#icon-projection:active > span,
#icon-projection.focus > span {
  background: url("../images/icon_swtich_mode.png") no-repeat -3px -140px;
}
#icon-projection.disable > span,
#icon-projection.disable:hover > span,
#icon-projection.disable:active > span,
#icon-projection.disable.focus > span {
  background: url("../images/icon_swtich_mode.png") no-repeat -3px -54px;
  opacity: 0.5;
  cursor: default;
}
#icon-projection.disable.warning > span,
#icon-projection.disable.warning:hover > span,
#icon-projection.disable.warning:active > span,
#icon-projection.disable.warning.focus > span {
  background: url("../images/icon_swtich_mode.png") no-repeat -3px -98px;
  cursor: default;
}
#icon-projection.hide {
  display: none;
}
.connected > .seperator {
  content: ' ';
  display: inline-block;
  width: 1px;
  height: 50px;
  border-right: 1px solid #E6E6E6;
}


/** Taskbar: minimize, close **/
.taskbar .icons {
  height: 15px;
  line-height: initial;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 0; }
  .taskbar .icons > span {
    display: inline-block;
    width: 35px;
    height: 15px;
    margin-left: 2px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(#545754, #14211F);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: none; }
    .taskbar .icons > span:hover {
      background-image: -webkit-linear-gradient(#727574, #323F3D); }
    .taskbar .icons > span:active {
      background-image: -webkit-linear-gradient(#3DA1E0, #1A6396); }
    .taskbar .icons > span:after {
      content: ' ';
      display: block;
      width: 33px;
      height: 15px;
      margin: 0;
      padding: 0;
      background: url("../images/win-icons.png") no-repeat 10px 0px; }
    .taskbar .icons > span.icon-minimize:after {
      background: url("../images/win-icons.png") no-repeat 10px -90px; }
    .taskbar .icons > span.hide {
      display: none; }


/** Login Part **/
.login {
  padding: 1rem;
}

.inputs > div {
  display: inline-block;
  margin: -2px;
  padding: 0;
}

.inputs > div:first-child {
  position: relative;
  width: 290px;
  height: 93px;
  margin-left: 14px;
}

.inputs input {
  height: 30.05px;
  border-right: 0;
}

.inputs > div:last-child {
  vertical-align: top;
}

#project,
#rva_url {
  border-top-left-radius: 4px;
}
#project {
  visibility: hidden;
  display: none;
}
#client_name {
  border-bottom-left-radius: 4px;
}
#pin_required {
  display: inline-block;
  font-size: .75rem;
  padding: 4px;
  position: absolute;
  right: 8px;
  top: 34px;
  outline: 0;
  color: #fff;
  border: 1px solid #EBECEC;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 0;
}
#pin_required.red {
  color: #CD4655;
  border: 1px solid #CD4655;
}
#pin_required.red .arrow_box:before {
  border-right-color: #CD4655;
}
#pin_required.red .arrow_box:after {
  border-right-color: #A6A8AB;
}
#connect-btn {
  display: block;
  width: 80px;
  height: 69px;
  padding-top: 20px;
  text-align: center;
  font-size: .75rem;
  color: #DDD;
  background-image : -webkit-linear-gradient(#0175B2, #022336);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#connect-btn:hover {
  background-image: -webkit-linear-gradient(#2498D5, #254659);
}
#connect-btn:active {
  background-image: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
}
#connect-btn > div:first-child {
  display: block;
  width: 24px;
  height: 30px;
  margin: 0 auto;
  background: url("../images/bn_tools_01.png") no-repeat -100px 0px;
}
#connect-btn:hover > div:first-child {
  background: url("../images/bn_tools_01.png") no-repeat -100px -29px;
}
#connect-btn:active > div:first-child {
  background: url("../images/bn_tools_01.png") no-repeat -100px -58px;
}
#ip-tools {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  width: auto;
}
#ip-tools > span {
  float: right;
}

/* for autocomplete */
.icon-iplist {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 7px 0 7px;
  border-color: #fff transparent transparent transparent;
  margin: 11px auto;
  vertical-align: middle;
}
#launch_ip_list {
  display: block;
  width: 30px;
  height: 28px;
  outline: 0;
}
#launch_ip_list:hover .icon-iplist {
  border-color: #58595B transparent transparent transparent;
}
#launch_ip_list:active .icon-iplist {
  border-color: #0078F7 transparent transparent transparent;
}
.ui-autocomplete {
  font-size: 0.875rem;
  max-height: 120px;
  min-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #A6A8AB;
  border-top: 0;
}
.ui-menu .ui-menu-item {
  background: #fafafa;
  padding: 3px;
}
.ui-menu .ui-menu-item a:before {
  display: inline-block;
  width: 21px;
  height: 16px;
  content: ' ';
}
.ui-menu .ui-menu-item.broadcast a:before{
  background: url("../images/bn_check.png") no-repeat -209px 1px;
}
.ui-widget-content .ui-state-focus {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #408FEB), color-stop(100%, #265EA6));
  font-weight: normal;
}
.ui-widget-content .ui-state-focus a {
  color: #fff;
}
/* end autocomplete */


/* for Novo Lookup Server */
.icon-search {
  display: inline-block;
  width: 30px;
  height: 28px;
  outline: 0;
  background: url("../images/bn_tools_01.png") no-repeat -64px 3px;
}
.icon-search:hover {
  background: url("../images/bn_tools_01.png") no-repeat -64px -27px;
}
.icon-search:active {
  background: url("../images/bn_tools_01.png") no-repeat -64px -57px;
}
#dialog-ip-list {
  font-size: .85rem;
  margin: 0 10px 10px;
  padding: 0;
}
#dialog-ip-list .ui-menu {
  min-height: 150px;
}
#dialog-ip-list .ui-menu .ui-menu-item:hover {
  border: none;
  color: aliceblue;
  background: #316BC2;
  font-weight: normal;
}
#dialog-ip-list .ui-menu .ui-menu-item:hover a {
  color: aliceblue;
}
.ui-button-text-only .ui-button-text {
  font-size: .85rem;
}
/* end Novo Lookup Server */

/** login Tabs **/
.loginTab {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404242), color-stop(100%, #151518));
  position: relative;
  margin: 1rem -1rem 1rem;
  padding: 1rem 2rem;
}
.icon-close-tab {
  display: block;
  width: 40px;
  height: 15px;
  background: url("../images/bn_check.png") no-repeat -110px -1px;
  position: absolute;
  right: 0;
  top: -13px;
}
.cols {
  margin-top: 10px;
}
.left-col,
.right-col {
  display: table-cell;
  vertical-align: middle;
}
.left-col {
  font-size: .85rem;
  width: 135px;
  text-align: right;
}
.right-col {
  padding-left: 5px;
  width: auto;
  font-size: .85rem;
  line-height: 1rem;
  white-space: nowrap;
}

/** settings **/
.settings-label {
  vertical-align: middle;
  line-height: 2rem;
}
.settings-label:before {
  content: ' ';
  display: inline-block;
  width: 30px;
  height: 19px;
  background: url("../images/img_settings.png") no-repeat 0px 0px;
}

#proj-mode-0:checked + label > i,
#proj-mode-6:checked + label > i {
  background-position: 0 -48px;
}
#proj-mode-1:checked + label > i,
#proj-mode-7:checked + label > i  {
  background-position: 0 -16px;
}
#setting .projItem > span > span {
  display: none;
}
#setting .projItem > span > select {
  display: block;
  margin-left: 8px;
}
#setting .projItem.disabled {
  color: #AAB4BF;
}
#setting .projItem.disabled > span > span {
  display: inline;
  margin-left: 8px;
}
#setting .projItem.disabled > span > select {
  display: none;
}

#upgradeMsg {
  font-size: .85rem;
  line-height: 1.5;
}
#downloadButton {
  margin: 10px auto;
  margin-left: 1rem;
}
#checkNewVersionButton {
  line-height: 1.3;
}

#moderator-credential {
  min-height: 90px;
}
#toggleTeacherPw,
#rdm-ip {
  width: 210px;
  height: auto;
  padding: 5px;
  color: #000;
  background: #F1F1F2;
  margin-top: 10px;
}
#toggleTeacherPw::-webkit-input-placeholder,
#rdm-ip::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.toggleTeacherPwMsg,
.rdmErrorMsg {
  color: #CD4655;
}
#toggleTeacherPw {
  margin-left: 35px;
}
.toggleTeacherPwMsg {
  display: inline-block;
  margin-left: 35px;
  margin-top: 3px;
}
#rdm-block {
  height: 4rem;
  font-size: .9rem;
}
#rdm-block > div:last-child {
  margin-left: 77px;
}

#group-panel .btns {
  margin: .5rem 0;
}
#group-panel hr {
  margin: 0 -20px;
}
#existed-groups {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 -2rem -1rem;
  font-size: .9rem;
}
#existed-groups > div {
  display: table;
  width: 100%;
}
#existed-groups > div:hover,
#existed-groups > div.selected {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #408FEB), color-stop(100%, #265EA6)); 
}
#existed-groups > div > span {
  display: table-cell;
}
#existed-groups .group-name {
  display: list-item;
  list-style: disc inside;
  margin: .5rem .5rem .5rem 2rem;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 275px;
}
#existed-groups > div:hover .edit,
#existed-groups > div:hover .export,
#existed-groups > div:hover .delete,
#existed-groups > div.selected .edit,
#existed-groups > div.selected .export,
#existed-groups > div.selected .delete {
  width: 32px;
  height: 20px;
  background: url("../images/bn_tools_01.png") no-repeat -160px 0px;
}
#existed-groups > div:hover .edit,
#existed-groups > div.selected .edit {
  background-position: -160px 5px;
}
#existed-groups > div.selected .edit:hover {
  background-position: -160px -25px;
}
#existed-groups > div.selected .edit:active {
  background-position: -160px -55px;
}
#existed-groups > div:hover .export,
#existed-groups > div.selected .export {
  background-position: -190px 5px;
}
#existed-groups > div.selected .export:hover {
  background-position: -190px -25px;
}
#existed-groups > div.selected .export:active {
  background-position: -190px -55px;
}
#existed-groups > div:hover .delete,
#existed-groups > div.selected .delete {
  background-position: -220px 5px;
}
#existed-groups > div.selected .delete:hover {
  background-position: -220px -25px;
}
#existed-groups > div.selected .delete:active {
  background-position: -220px -55px;
}

#existed-groups > div .info {
  text-align: right;
  padding-right: 10px;
  color: darkgoldenrod;
  font-size: small;
}
#existed-groups > div.selected .info,
#existed-groups > div:hover .info {
  display: none;
}


/** copyright **/
.copyright {
  color: #808184;
  text-align: right;
  font-size: .75rem;
  line-height: .75rem;
  margin-top: 1rem;
}


/***** Tool: function area *****/
.tool-list {
  display: block;
  height: 250px;
  font-size: .75rem;
  text-align: center;
}
.tool-list > div {
  display: block;
  float: left;
  width: 33.1%;
  height: 115.66px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96B5C9), color-stop(100%, #7391A3));
  border-right: 1px solid rgba(255, 255, 255, 0.35);
}
.tool-list > div:hover,
.tool-list > div.active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #408FEB), color-stop(100%, #265EA6));
}
.tool-list > div.disable {
  color: #787C7A;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #545754), color-stop(100%, #14211F));
}
.tool-icon {
  display: block;
  width: 68px;
  height: 50px;
  background-image: url('../images/bn_check.png');
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

#open-voting .tool-icon {
  background-position: -305px 0px;
}
#open-voting.disable .tool-icon {
  background-position: -305px -60px;
}

#play-video .tool-icon {
  background-position: -383px 0px;
}
#play-video.disable .tool-icon {
  background-position: -383px -60px;
}

#open-sharing {
  position: relative;
}
#open-sharing .tool-icon {
  background-position: -461px 0px;
}
#open-sharing.disable .tool-icon {
  background-position: -461px -60px;
}
@-webkit-keyframes example {
    from {bottom: 0;}
    to   {bottom: 10px;}
}
#callUploading {
  display: none;
  font-size: 150%;
  color: #8BC53F;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-animation-name: example;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
#callUploading.active {
  display: block;
}

#launch-screenote .tool-icon {
  background-position: -540px 0px;
}
#launch-screenote.disable .tool-icon {
  background-position: -540px -60px;
}


/* Tool: toggle tablet */
#toggle-tablet .tool-icon {
  background-position: -618px 0px;
}
#toggle-tablet.disable .tool-icon {
  background-position: -618px -60px;
}
#toggle-tablet.locked  .tool-icon  {
  background-position: -618px -120px;
}
#toggle-tablet.loading .tool-icon {
  width: 50px;
  height: 50px;
  background-image: url(../images/loading_sprite.png);
  -webkit-animation: circle steps(12) 1s infinite; 
}
/* Tool: Terminate all session */
#terminate-session .tool-icon {
  background-position: -694px 0px;
}
#terminate-session.disable .tool-icon {
  background-position: -694px -60px;
}

/** Connected part *************************************/
.connected-part {
}
.connected-part .info {
  position: relative;
  margin: 2rem;
}
.connected-part > div:first-child {
  padding-top: 10px;
}
.connected-part .info p {
  font-size: 1rem;
  line-height: 135%;
  margin: 0;
}
#qr-btn,
#disconnect-btn {
  display: block;
  width: 91px;
  font-size: .85rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 0;
}
#disconnect-btn > div:first-child {
  display: block;
  width: 19px;
  height: 26px;
  margin: 0 auto;
  margin-bottom: 3px;
  background: url("../images/bn_tools_01.png") no-repeat -133px 0px;
}
#disconnect-btn:hover > div:first-child {
  background: url("../images/bn_tools_01.png") no-repeat -133px -36px;
}
#disconnect-btn:active > div:first-child {
  background: url("../images/bn_tools_01.png") no-repeat -133px -72px;
}
#qr-btn {
  margin-top: 3px;
}
#pin-off-btn,
#pin-on-btn {
  width: 57px;
  min-width: 57px;
  height: 24px;
  line-height: 24px;
  border: 0;
  background: url("../images/bn_check.png") no-repeat -240px 0px;
  position: absolute;
  left: 125px;
  top: 18px;
  outline: none;
}
#pin-off-btn {
  background: url("../images/bn_check.png") no-repeat -240px -34px;
}
.has-toggle {
  height: 1px;
  position: relative;
}
#toggle-settings-info {
  position: absolute;
  right: 0;
  bottom: -2px;
  top: inherit;
}
#setting-info {
  padding: 1.5rem 2rem;
  margin-top: 0;
  margin-bottom: 0;
}
#setting-info .right-col {
  padding-left: 2.2rem;
}
#setting-info #projectionMode.right-col,
#setting-info .remoteMouseDiv .right-col {
  padding-left: 0;
}


/** User list part *************************************/
.connected-list > div {
  font-size: 0.8rem;
}

.full-view,
.split-view {
}
.left-side,
.right-side {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}
.left-side {
  width: 300px;
  margin: 5px;
}
.view-list,
.user-list > ul {
  display: table;
  width: 100%;
  max-width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: normal;
}
.view-list > li {
  display: inline-block;
  color: #fff;
  background-color: #808184;
  list-style: none;
  width: 129px;
  height: auto;
  vertical-align: middle;
  font-size: 0.8rem;
  line-height: 100%;
  padding: 5px 10px;
  margin-right: 1px;
  margin-bottom: 1px;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
.full-view li {
  width: 280px;
  height: 35px;
  font-size: 1.2rem;
}
.full-view li > * {
  line-height: 35px;
  vertical-align: middle;
}

.sort-key {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 4px;
}
.sort-key .icon-sort {
  display: block;
  width: 24px;
  height: 25px;
  background: url("../images/img_settings.png") no-repeat -475px 0px;
}
.sort-key.byTime .icon-sort {
  background: url("../images/img_settings.png") no-repeat -441px 0px;
}
.sort-key .guillemet {
  color: #fff;
  padding: 0;
  font-size: 5px;
}

#group-select {
  display: inline-block;
  font-size: .8rem;
  height: 12px;
  padding: 0.5rem 0.8rem;
  margin: 0 3px 9.8px;
  border-radius: 4px;
  vertical-align: bottom;
}
#group-select.disabled,
#group-select.disabled:hover {
  color: #fff;
  background-image: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
}
#group-select .triangleRight {
  display: inline-block;
  color: #fff;
  font-size: 6px;
  vertical-align: middle;
  margin-top: -4px;
}
#group-select span:last-child {
  display: inline-block;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
#group-tabs {
  display: inline-block;
  border-left: 1px solid gray;
  padding: 0 7px;  
}
#group-tabs > li {
  display: inline-block;
  color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #545754), color-stop(100%, #14211F));
  border: 0;
  border-radius: 0;
  padding: 0.5rem 0.8rem;
  font-size: .75rem;
  outline: none;
  margin: -2px;
  border-right: 1px solid gray;
}
#group-tabs > li:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#group-tabs > li:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#group-tabs > li.active {
  color: #fff;
  background: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
}
#dialog-group-list {
  margin-right: 6px;
}
#g-list {
  font-size: 1rem;
  line-height: 1;
  outline: none;
  color: #D0D2D3;
}
#g-list > div {
  padding: .5rem;
  max-width: 90%;
}
#g-list > div:hover {
  color: #fff;
  background-image : -webkit-linear-gradient(#408FEB, #265EA6);
}
#g-list div {
  word-wrap: break-word;
  white-space: normal;
}


.user-list {
  max-height: 300px;
  overflow-y: auto;
}
.user {
  border: 1px solid rgba(128,129,132,.5);
  border-bottom: 0;
}
.user table {
  width: 100%;
  height: 51px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #E6E6E6));
}
.user.isMyself table{
  color: #fff;
  background: #8BC53F;
}
.user.focused table,
.user.hover table{
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #408FEB), color-stop(100%, #265EA6));
}
.icon-user {
  width: 45px;
  height: 45px;
  background: url("../images/bn_check.png") no-repeat -160px -84.5px;
}
.user.focused .icon-user,
.user.hover .icon-user {
  background: url("../images/bn_check.png") no-repeat -160px -37.5px;
}
.icon-user.ishost,
.user .icon-user.ishost {
  background: url("../images/img_settings.png") no-repeat -32px 8px;
}
.user.offline .icon-user {
  background: url("../images/bn_check.png") no-repeat -160px 8px;
}
.user-control {
  width: 80px;
  text-align: right;
}
.user-control > div {
  margin-right: 5px;
}
.project-user {
  display: none;
  width: 32px;
  height: 32px;
}
.has-right .project-user {
  background: url("../images/bn_tools_01.png") no-repeat -445px 0px;
}
.project-user.full-on {
  background: url("../images/bn_check.png") no-repeat -774px 0px;
}
.project-user.no1 {
  background: url("../images/bn_check.png") no-repeat -814px 0px;
}
.project-user.no2 {
  background: url("../images/bn_check.png") no-repeat -854px 0px;
}
.project-user.no3 {
  background: url("../images/bn_check.png") no-repeat -894px 0px;
}
.project-user.no4 {
  background: url("../images/bn_check.png") no-repeat -934px 0px;
}
.iamhost .user.focused .project-user,
.iamhost .user.hover   .project-user {
  background: url("../images/bn_tools_01.png") no-repeat -445px -84px;
}
.user.focused .project-user.full-on,
.user.hover .project-user.full-on {
  background: url("../images/bn_check.png") no-repeat -774px -41px;
}
.user.focused .project-user.no1,
.user.hover .project-user.no1 {
  background: url("../images/bn_check.png") no-repeat -814px -41px;
}
.user.focused .project-user.no2,
.user.hover .project-user.no2 {
  background: url("../images/bn_check.png") no-repeat -854px -41px;
}
.user.focused .project-user.no3,
.user.hover .project-user.no3 {
  background: url("../images/bn_check.png") no-repeat -894px -41px;
}
.user.focused .project-user.no4,
.user.hover .project-user.no4 {
  background: url("../images/bn_check.png") no-repeat -934px -41px;
}
.iamhost .user.focused .project-user:hover,
.iamhost .user.hover   .project-user:hover {
  background: url("../images/bn_tools_01.png") no-repeat -445px -42px;
}
.user.online .project-user {
  display: inline-block;
}
.panel {
  display: none;
  position: absolute;
  right: 5px;
  width: 186px;
  height: 108px;
  z-index: 31;
}
.panel-overlay {
  display: none;
  position: absolute;
  right: 0;
  width: 200px;
  height: 130px;
  background: #fff;
  opacity: .9;
  z-index: 30;
}
.project-user.clicked .panel,
.project-user.clicked .panel-overlay {
  display: block;
}
.iamhost .remove-user {
  display: none;
  width: 32px;
  height: 32px;
  background: url("../images/bn_tools_01.png") no-repeat -487px 0px;
}
.iamhost .user.focused .remove-user,
.iamhost .user.hover   .remove-user {
  background: url("../images/bn_tools_01.png") no-repeat -487px -84px;
}
.iamhost .user.focused .remove-user:hover,
.iamhost .user.hover   .remove-user:hover {
  background: url("../images/bn_tools_01.png") no-repeat -487px -42px;
}
.iamhost .user.online .remove-user {
  display: none;
}

.user-control.loading > div,
.small-loading {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../images/loading_small_sprite.png);
  background-repeat: no-repeat;
  -webkit-animation: circle_small steps(12) 1s infinite;
}
.user .preview {
  display: none;
  position: relative;
  text-align: center;
  height: 170px;
  background-color: #000;
}
.user .preview img {
  max-width: 100%;
  max-height: 170px;
}

/***** Corportion moderator function ******/
#corp-moderator-func {
  font-size: 1.2rem;
  line-height: 1;
  padding: .5rem 1.5rem;
  position: relative;
}
#corp-moderator-func > div:first-child {
  font-size: 0.6rem;
}
#corp-moderator-btn {
  display: block;
  width: 57px;
  height: 24px;
  background-image: url(../images/bn_check.png);
  background-repeat: no-repeat;
  background-position: -239px -34px;
  position: absolute;
  right: 62px;
  top: 10px;
}
#corp-moderator-btn.true {
  background-position: -239px 0px;
}

#white-cover {
  display: none;
  width: 100%;
  height: 150px;
  background: #fff;
  float: left;
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: 15;
  opacity: 0.7;
}

.sending-image {
  width: 260px;
  height: 140px;
  margin: 0 auto;
  background-image: url(../images/sending_file.png);
  -webkit-animation: play steps(12) 1.5s infinite; 
}
@-webkit-keyframes play {
   from { background-position: 0     0px; }
     to { background-position: 0 -1680px; }
}

/******* UI Tooltips ******************/
.ui-tooltip {
  color: #CECECE;
  background: #282828;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0 0 3px black;
  font: normal 1rem/1 "Myriad Pro","Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.extend-win {
  width: 160px;
  height: 90px;
  background-color: #000;
}

#drop-mirroring li a {
  line-height: 20px;
  vertical-align: top;
  height: 20px;
}
#drop-mirroring li a span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 9px;
  margin-left: 6px;
  margin-top: 2px;
  background-image: url(../images/icons-proj.png);
  background-repeat: no-repeat;
}

#drop-mirroring .play {
  background-position: 0 0;
}
#drop-mirroring .pause {
  background-position: 0 -19px;
}
#drop-mirroring .stop {
  background-position: 0 -39.5px;
}

#drop-mirroring .extendScreen1,
#drop-mirroring .extendScreen2 {
  background-image: url(../images/extended-1_s.png);
  background-size: contain;
  width: 23px;
  margin-left: 0;
  margin-right: 7px;
}
#drop-mirroring .extendScreen2 {
  background-image: url(../images/extended-2_s.png);
}
#drop-mirroring .extendItem:hover .extendScreen1,
#drop-mirroring .extendItem:hover .extendScreen2 {
  background-image: url(../images/extended-1.png);
  width: 46px;
  height: 30px;
  margin-top: -5px;
}
#drop-mirroring .extendItem:hover .extendScreen2 {
  background-image: url(../images/extended-2.png);
  width: 46px;
  height: 30px;
  margin-top: -5px;
}
  

/*******************************************
*
*   NOVOCAST
*
********************************************/

#container .novocast-show,
#container.novocast .novocast-none {
  display: none;
}

#container.novocast .novocast-show {
  display: block;
}

#container.novocast .tool-list {
  height: 125px;
}