body {
  background: #E6E7E8;
  font: normal .9rem/1 "Myriad Pro", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag; }

#qr-page {
  width: 650px;
  height: 440px;
  margin: 0;
  padding: 0; }

#qr-close {
  clear: both;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 101;
  color: #BBBDBF;
  cursor: pointer; }
  #qr-close:hover, #qr-close:focus {
    color: #FFFFFF; }
  #qr-close:active {
    color: #0078F7; }

/** main content **/
section {
  float: left;
  vertical-align: top; }
  section #resizable {
    width: 400px;
    height: 400px;
    margin: 15px; }

#info {
  color: #fff;
  background-image: -webkit-linear-gradient(#404242, #151518);
  width: 180px;
  float: right; }

#info-list {
  list-style: none;
  margin-top: 5rem;
  margin-left: -1rem;
  line-height: 1.5; }
  #info-list li {
    margin: 1rem 0; }
    #info-list li > label {
      display: inline-block;
      width: 2.5rem;
      vertical-align: top;
      margin-right: 5px; }
      #info-list li > label.blue {
        color: #00ADEE;
        border-right: 1px solid #00ADEE;
        height: 2.5rem; }
    #info-list li > span {
      display: inline-block; }

.ui-icon-gripsmall-diagonal-se {
  -webkit-app-region: no-drag; }

#qr-rva-btn {
  display: block;
  padding: 3px 5px;
  position: absolute;
  right: 20px;
  bottom: 27px;
  background-image: -webkit-linear-gradient(#565658, #151518);
  border: 0;
  outline: none;
  -webkit-app-region: no-drag; }
  #qr-rva-btn span {
    display: inline-block;
    width: 75px;
    height: 40px;
    background-image: url(../images/presentation_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  #qr-rva-btn:hover {
    color: #fff;
    background-image: -webkit-linear-gradient(#7C7F7C, #3C4947); }
  #qr-rva-btn:active {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%); }
  #qr-rva-btn.loading {
    background: none;
    outline: none;
    cursor: progress; }
    #qr-rva-btn.loading span {
      width: 75px;
      height: 50px;
      background-repeat: no-repeat;
      background-size: initial;
      background-image: url(../images/loading_sprite.png);
      -webkit-animation: circle steps(12) 1s infinite; }

#msg {
  position: absolute;
  right: 20px;
  bottom: 5px;
  color: darkgoldenrod;
  font-size: .8rem; }

/** loading icon**/
.loading-circle {
  width: 50px;
  height: 50px;
  margin: auto;
  background-image: url(../images/loading_sprite.png);
  -webkit-animation: circle steps(12) 1s infinite; }

@-webkit-keyframes circle {
  from {
    background-position: 0    0px; }
  to {
    background-position: 0 -600px; } }
