html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html, body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font: normal 1rem/1.2 "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  position: relative;
  cursor: default;
  overflow: hidden; }

#video-page {
  width: 354px;
  height: 266px;
  border: 2px solid #BBBDBF; }

#video_path::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(0, 0, 0, 0.25); }

.title {
  color: #fff;
  display: table;
  width: 100%;
  background-image: -webkit-linear-gradient(#545754, #14211F);
  margin-bottom: -4px; }
  .title > span {
    display: table-cell;
    height: 52px;
    vertical-align: middle;
    line-height: normal; }
  .title .span1 {
    width: 44px;
    text-align: right;
    padding-right: 10px; }
  .title .span2 {
    width: auto;
    font-size: 1.4rem;
    font-family: monospace;
    letter-spacing: -0.6px;
    text-shadow: 0px 0px 6px rgba(220, 220, 220, 0.5); }
  .title .span3 {
    width: 40px; }
    .title .span3 #close-video-win {
      font-weight: bolder;
      font-size: .9rem;
      color: #D0D0D0;
      cursor: pointer;
      padding: 0;
      height: 17px; }
      .title .span3 #close-video-win:hover {
        color: #60D3FC; }

.content {
  padding: 1rem 1.5rem .1rem 1.5rem;
  color: #333333;
  background-image: -webkit-linear-gradient(#FFFFFF, #DCDCDC);
  background-color: #2C2C2C;
  height: 140px; }
  .content.version16 {
    height: 200px; }
  .content > div {
    vertical-align: middle;
    margin-bottom: 1rem;
    height: 52px; }

/*** input ****/
.file_name {
  display: none;
  text-align: center; }

#file_name {
  font-size: 1rem;
  line-height: 1.6;
  vertical-align: baseline;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.path {
  position: relative; }
  .path > * {
    vertical-align: middle; }

#clear {
  display: none;
  position: absolute;
  top: 10px;
  left: 230px;
  color: #fff;
  background-color: #788187;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  text-align: center;
  font: bold 15px/13px Arial, sans-serif, "Helvetica Neue", "Helvetica", Helvetica; }
  #clear.enable {
    display: block; }

#video_path {
  display: inline-block;
  font-size: 0.75rem;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.75);
  width: 250px;
  margin: 0;
  padding: 0.5rem;
  height: 2.3125rem;
  -webkit-appearance: none;
  background-color: white;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  border: 1px solid #A6A8AB;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 0; }
  #video_path.disable {
    background-color: #C7C7C7;
    border-color: #C7C7C7;
    padding-right: 25px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    outline-offset: 0;
    cursor: default; }

#choose_file {
  display: inline-block;
  color: #fff;
  width: 50px;
  height: 2.3125rem;
  font-size: 1.2rem;
  padding: 0;
  margin-left: -5px;
  background-color: #393739;
  -webkit-appearance: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #A6A8AB;
  border-left: 0;
  outline: none;
  cursor: pointer; }
  #choose_file:hover, #choose_file:focus {
    color: #60D3FC; }

.focus, #video_path:focus, #choose_file:hover, #choose_file:focus {
  border-color: #999999;
  -webkit-appearance: none; }

#errorMsg {
  visibility: hidden;
  color: red;
  font-size: .8rem;
  margin-left: .5rem; }

.path.error #video_path,
.path.error #choose_file {
  border-color: red; }
.path.error #errorMsg {
  visibility: visible; }

#loading {
  display: none;
  text-align: center; }

#loading:after {
  display: inline-block;
  content: ' ';
  width: 35px;
  height: 35px;
  background-image: url(../images/loading_small_sprite.png);
  -webkit-animation: circle_small steps(12) 1s infinite; }

@-webkit-keyframes circle_small {
  from {
    background-position: 0    0px; }
  to {
    background-position: 0 -420px; } }
/*** playback ****/
.playback > span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 1rem; }

.video-sprite,
.video-ball,
.video-pause,
#video_play.enable.pause,
.video-play,
#video_play.enable,
.video-stop,
#video_stop.enable,
.video-play_disable,
.video-stop_disable,
#video_play.enable.pause,
#video_play.enable,
#video_stop.enable {
  background-image: url("../images/video.png");
  background-repeat: no-repeat; }

.video-ball {
  background-position: 0 0; }

.video-pause, #video_play.enable.pause, #video_play.enable.pause {
  background-position: 0 -24px; }

.video-play, #video_play.enable, #video_play.enable {
  background-position: 0 -72px; }

.video-play_disable {
  background-position: 0 -120px; }

.video-stop, #video_stop.enable, #video_stop.enable {
  background-position: 0 -168px; }

.video-stop_disable {
  background-position: 0 -216px; }

#video_play {
  cursor: default; }
  #video_play.enable {
    cursor: pointer; }

#video_stop {
  cursor: default; }
  #video_stop.enable {
    cursor: pointer; }

/** version 1.6 **/
#playback.version16 > span {
  width: 47px;
  height: 48px;
  line-height: 48px; }
#playback.version16 #video_play,
#playback.version16 #video_stop {
  background-image: url("../images/video.png");
  background-repeat: no-repeat;
  margin-right: 15px; }
#playback.version16 #video_play {
  background-position: 0 -120px; }
  #playback.version16 #video_play.enable {
    background-position: 0 -72px; }
    #playback.version16 #video_play.enable.pause {
      background-position: 0 -24px; }
#playback.version16 #video_stop {
  background-position: 0 -216px; }
  #playback.version16 #video_stop.enable {
    background-position: 0 -168px; }

#playback > span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: bottom; }
#playback #video_points {
  display: block;
  width: 290px; }
  #playback #video_points.enable > div {
    color: #000; }
  #playback #video_points > div {
    text-align: right;
    line-height: 20px;
    color: #B8B8B8; }
#playback #points {
  height: 10px;
  background: #808184;
  margin-bottom: 6px;
  margin-left: 15px; }

.ui-slider-range {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #A6FF44), color-stop(98%, #80CC38)); }

.ui-widget-content {
  border: 0;
  border-bottom: 1px solid #fff; }
  .ui-widget-content .ui-state-default {
    border: none;
    background: url("../images/video.png") repeat-x 0 0;
    width: 24px;
    height: 24px;
    top: -.4em; }
    .ui-widget-content .ui-state-default:hover, .ui-widget-content .ui-state-default:focus {
      outline: none; }

/** version 1.5 **/
#playback.version15 {
  text-align: center; }
  #playback.version15 > span {
    margin-right: 1rem; }
  #playback.version15 #video_stop,
  #playback.version15 #video_stop.enable {
    margin-left: 2rem; }
