html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  padding: 0;
  margin: 0;
  font: normal 1rem/1 "Myriad Pro","Helvetica Neue", "Helvetica", Arial, sans-serif;
  cursor: default;
  background-image: -webkit-linear-gradient(#FFFFFF, #DCDCDC);
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-app-region: drag; }

#page {
  min-width: 830px;
  min-height: 630px;
  width: 830px;
  height: 630px;
  margin: 0;
  padding: 0;
  border: 2px solid #BBBDBF; }
  @media screen and (min-width: 840px) {
    #page {
      width: 100%;
      height: auto;
      border: 0; } }

.hide {
  display: none; }

.taskbar {
  height: 15px; }
  .taskbar .icons {
    height: 15px;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 1px;
    -webkit-app-region: no-drag; }
    .taskbar .icons > span {
      display: inline-block;
      width: 35px;
      height: 15px;
      margin-left: 2px;
      cursor: pointer;
      background-image: -webkit-linear-gradient(#545754, #14211F);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      outline: none; }
      .taskbar .icons > span:hover {
        background-image: -webkit-linear-gradient(#727574, #323F3D); }
      .taskbar .icons > span:active {
        background-image: -webkit-linear-gradient(#3DA1E0, #1A6396); }
      .taskbar .icons > span:after {
        content: ' ';
        display: block;
        width: 33px;
        height: 15px;
        margin: 0;
        padding: 0;
        background: url("../images/win-icons.png") no-repeat 10px 0px; }
      .taskbar .icons > span.icon-minimize:after {
        background: url("../images/win-icons.png") no-repeat 10px -90px; }
      .taskbar .icons > span.icon-fullscreen:after {
        background: url("../images/win-icons.png") no-repeat 10px -30px; }
      .taskbar .icons > span.icon-restore:after, .taskbar .icons > span.icon-fullscreen.onMax:after {
        background: url("../images/win-icons.png") no-repeat 10px -61px; }
      .taskbar .icons > span.hide {
        display: none; }

.toolbar {
  margin: 0 0 15px; }
  .toolbar > div {
    display: inline-block;
    color: #808184;
    border-right: 1px solid rgba(128, 129, 132, 0.5);
    padding: 0px 10px;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    -webkit-app-region: no-drag; }
    .toolbar > div:hover {
      color: #6D6E70; }
    .toolbar > div:active, .toolbar > div.selected {
      color: #2165BB; }
    .toolbar > div > * {
      font-size: 12pt;
      line-height: 25px;
      vertical-align: middle; }
    .toolbar > div > span:before {
      content: ' ';
      display: inline-block;
      width: 20px;
      height: 19px;
      vertical-align: sub;
      margin-right: 4px;
      background-image: url("../images/bn_tools_02.png");
      background-repeat: no-repeat; }
    .toolbar > div.logo {
      padding-left: 10px; }
      .toolbar > div.logo span {
        font-size: 1rem;
        font-family: sans-serif;
        font-weight: 600; }
        .toolbar > div.logo span:before {
          width: 24px;
          height: 21px;
          background-image: url("../images/logo_novo.png");
          background-position: 0 0; }
    .toolbar > div.voting-tool-create span:before {
      background-position: 0 0; }
    .toolbar > div.voting-tool-create:hover span:before {
      background-position: 0 -29px; }
    .toolbar > div.voting-tool-create:active span:before, .toolbar > div.voting-tool-create.selected span:before {
      background-position: 0 -58px; }
    .toolbar > div.voting-tool-create.disable span:before {
      background-position: 0 0; }
    .toolbar > div.voting-tool-open span:before {
      background-position: -30px 0; }
    .toolbar > div.voting-tool-open:hover span:before {
      background-position: -30px -29px; }
    .toolbar > div.voting-tool-open:active span:before, .toolbar > div.voting-tool-open.selected span:before {
      background-position: -30px -58px; }
    .toolbar > div.voting-tool-open.disable span:before {
      background-position: -30px 0; }
    .toolbar > div.voting-tool-save span:before {
      background-position: -60px 0; }
    .toolbar > div.voting-tool-save:hover span:before {
      background-position: -60px -29px; }
    .toolbar > div.voting-tool-save:active span:before {
      background-position: -60px -58px; }
    .toolbar > div.voting-tool-save.disable span:before {
      background-position: -60px 0; }
    .toolbar > div.voting-tool-clear span:before {
      background-position: -90px 0; }
    .toolbar > div.voting-tool-clear:hover span:before {
      background-position: -90px -29px; }
    .toolbar > div.voting-tool-clear:active span:before {
      background-position: -90px -58px; }
    .toolbar > div.voting-tool-clear.disable span:before {
      background-position: -90px 0; }
    .toolbar > div.voting-tool-export {
      border: 0; }
      .toolbar > div.voting-tool-export span:before {
        background-position: -120px 0; }
      .toolbar > div.voting-tool-export:hover span:before {
        background-position: -120px -29px; }
      .toolbar > div.voting-tool-export:active span:before {
        background-position: -120px -58px; }
      .toolbar > div.voting-tool-export.disable span:before {
        background-position: -120px 0; }
    .toolbar > div.filename {
      border: 0;
      float: right;
      vertical-align: middle;
      cursor: default;
      position: absolute;
      right: 0;
      top: 2.6rem; }
      .toolbar > div.filename > div {
        font-size: 10pt;
        line-height: normal;
        text-align: right;
        white-space: nowrap;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis; }
      .toolbar > div.filename span {
        font-size: .8rem; }
        .toolbar > div.filename span:before {
          display: none; }
      .toolbar > div.filename .onAirCircle {
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url("../images/img_settings.png") no-repeat -107px -1px;
        margin-left: 5px;
        vertical-align: middle;
        -webkit-animation: slide 2s linear infinite; }
    .toolbar > div.disable {
      opacity: .5;
      cursor: not-allowed; }
      .toolbar > div.disable:hover {
        color: #808184; }
      .toolbar > div.disable:active, .toolbar > div.disable.selected {
        color: #808184; }

@-webkit-keyframes slide {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes slideSide {
  0% {
    background-image: -webkit-linear-gradient(#8CF554, #1C9126); }
  25% {
    background: -webkit-linear-gradient(top, #8CF554 0%, #8CF554 40%, #1C9126 100%); }
  50% {
    background: -webkit-linear-gradient(top, #8CF554 0%, #8CF554 80%, #1C9126 100%); }
  75% {
    background: -webkit-linear-gradient(top, #8CF554 0%, #8CF554 40%, #1C9126 100%); }
  100% {
    background-image: -webkit-linear-gradient(#8CF554, #1C9126); } }
.black-btn, #main-content .section .bottom-btn button {
  display: inline-block;
  height: auto;
  color: #FFFFFF;
  background-image: -webkit-linear-gradient(#545754, #14211F);
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
  padding: 5px 20px;
  outline: none;
  cursor: pointer; }
  .black-btn:hover, #main-content .section .bottom-btn button:hover {
    background-image: -webkit-linear-gradient(#7C7F7C, #3C4947); }
  .black-btn.active, #main-content .section .bottom-btn button.active, .black-btn:active, #main-content .section .bottom-btn button:active {
    background-image: -webkit-linear-gradient(#3DA1E0, #1A6396); }
  .black-btn.disable, #main-content .section .bottom-btn button.disable {
    opacity: .25;
    cursor: not-allowed; }
    .black-btn.disable:active, #main-content .section .bottom-btn button.disable:active, .black-btn.disable:hover, #main-content .section .bottom-btn button.disable:hover {
      background-image: -webkit-linear-gradient(#545754, #14211F); }

#main-content {
  height: 570px;
  -webkit-app-region: no-drag; }
  #main-content .side {
    overflow: hidden;
    width: 195px;
    float: left; }
    #main-content .side > ul {
      margin: 0 5px;
      overflow-x: hidden;
      overflow-y: auto; }
    #main-content .side #summary,
    #main-content .side #add-item,
    #main-content .side li {
      background-color: #9B9D9E;
      border-radius: 4px;
      margin-bottom: 1px;
      padding: 5px 10px;
      color: #fff;
      font-size: .8rem;
      vertical-align: middle;
      list-style: none;
      line-height: 19px;
      white-space: nowrap;
      word-wrap: break-word;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer; }
      #main-content .side #summary:hover, #main-content .side #summary.active,
      #main-content .side #add-item:hover,
      #main-content .side #add-item.active,
      #main-content .side li:hover,
      #main-content .side li.active {
        background-image: -webkit-linear-gradient(#3DA1E0, #1A6396); }
      #main-content .side #summary .on-air,
      #main-content .side #add-item .on-air,
      #main-content .side li .on-air {
        background-image: -webkit-linear-gradient(#8CF554, #1C9126);
        margin: -7px -3px -7px -10px;
        padding: 7px 3px 7px 10px; }
    #main-content .side #summary {
      margin: 0 5px;
      margin-bottom: 1px; }
      #main-content .side #summary:before {
        content: ' ';
        display: inline-block;
        width: 17px;
        height: 14px;
        background-image: url("../images/img_settings.png");
        background-repeat: no-repeat;
        background-position: -80px 0;
        vertical-align: text-top;
        margin-right: 5px; }
      #main-content .side #summary.disabled {
        opacity: .5; }
        #main-content .side #summary.disabled:hover, #main-content .side #summary.disabled.active {
          background: #9B9D9E;
          opacity: .5; }
    #main-content .side #add-item {
      display: inherit;
      margin: 0 5px;
      margin-bottom: 1px; }
  #main-content .section {
    margin-left: 195px;
    margin-right: 2px; }
    #main-content .section .question {
      padding: 5px;
      background-color: #fff;
      border: 1px solid #C3C4C6; }
      #main-content .section .question.hide {
        display: none; }
      #main-content .section .question .subject {
        font-size: 1.5rem;
        line-height: 1.2; }
        #main-content .section .question .subject .small {
          font-size: .8rem;
          font-weight: normal;
          margin-left: .5rem; }
      #main-content .section .question .content,
      #main-content .section .question .image {
        font-size: 13pt;
        display: block;
        width: inherit;
        max-width: inherit;
        height: 200px;
        padding: 5px;
        text-align: left;
        white-space: inherit;
        overflow-y: auto;
        overflow-x: auto; }
      #main-content .section .question #richSubject {
        background-color: #D0D2D3;
        cursor: pointer; }
      #main-content .section .question #previewImage {
        background-color: #fff;
        border: 1px solid #D0D2D3;
        margin-bottom: 5px;
        text-align: center;
        position: relative;
        vertical-align: middle;
        line-height: 200px;
        cursor: pointer; }
        #main-content .section .question #previewImage img {
          max-height: 98%;
          max-width: 98%;
          vertical-align: middle; }
        #main-content .section .question #previewImage .imageTool {
          position: absolute;
          width: 100%;
          line-height: 20px;
          top: 0;
          margin-left: -5px;
          text-align: right;
          background-color: #000;
          color: #fff;
          opacity: 0; }
          #main-content .section .question #previewImage .imageTool span {
            display: inline-block;
            margin: 10px; }
        #main-content .section .question #previewImage:hover .imageTool {
          opacity: 0.5; }
      #main-content .section .question .property > div {
        display: inline-block;
        width: 50%; }
        #main-content .section .question .property > div:last-child {
          text-align: right; }
        #main-content .section .question .property > div.hide {
          display: none; }
      #main-content .section .question .property select {
        font-size: 0.9rem;
        padding: 5px 35px 5px 20px;
        -webkit-appearance: none; }
        #main-content .section .question .property select option {
          color: #000;
          background-color: #fff; }
      #main-content .section .question .property .arrowDown {
        position: relative;
        right: 30px;
        pointer-events: none; }
        #main-content .section .question .property .arrowDown:before {
          display: inline-block;
          content: "\25BC";
          color: #fff;
          font-size: 8px;
          vertical-align: middle; }
      #main-content .section .question.preview {
        padding: 0;
        width: inherit;
        max-width: inherit;
        border: 0; }
        #main-content .section .question.preview > div {
          padding: 5px 10px; }
        #main-content .section .question.preview .subject {
          background-color: #5C99DE;
          color: #fff; }
        #main-content .section .question.preview .previewContent {
          font-size: 13pt;
          overflow-y: auto;
          border: 1px solid #C3C4C6;
          border-top: 0; }
          #main-content .section .question.preview .previewContent .previewImage {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            max-height: 240px; }
      #main-content .section .question.result {
        padding: 0; }
        #main-content .section .question.result .subject {
          margin: 5px 10px; }
        #main-content .section .question.result .contentNoImg {
          width: inherit;
          max-width: inherit;
          line-height: 1.5;
          height: 30px;
          margin: 5px 10px;
          white-space: nowrap;
          word-wrap: break-word;
          word-break: break-all;
          overflow: hidden;
          text-overflow: ellipsis; }
        #main-content .section .question.result .checkAnswer .resultStat {
          margin: 5px 10px; }
          #main-content .section .question.result .checkAnswer .resultStat > div {
            display: inline-block;
            vertical-align: text-top;
            width: 30%; }
            #main-content .section .question.result .checkAnswer .resultStat > div.hide {
              visibility: hidden; }
          #main-content .section .question.result .checkAnswer .resultStat .correctOpen > span {
            display: block;
            line-height: 24px;
            height: 24px;
            vertical-align: middle;
            font-size: .7rem; }
          #main-content .section .question.result .checkAnswer .resultStat .correctOpen .answerOn,
          #main-content .section .question.result .checkAnswer .resultStat .correctOpen .answerOff {
            width: 57px;
            height: 24px;
            background-repeat: no-repeat;
            background-image: url("../images/bn_check.png");
            background-position: -240px -34px; }
          #main-content .section .question.result .checkAnswer .resultStat .correctOpen .answerOn {
            background-position: -240px 0px; }
          #main-content .section .question.result .checkAnswer .resultStat .chart {
            display: inline-flex;
            width: 150px;
            height: 150px;
            text-align: center;
            position: relative; }
            #main-content .section .question.result .checkAnswer .resultStat .chart svg {
              display: block;
              width: 150px;
              height: 150px; }
            #main-content .section .question.result .checkAnswer .resultStat .chart > div {
              color: #F17D22;
              font: bold 100% sans-serif;
              position: absolute;
              left: 0px;
              top: 56px;
              width: 150px;
              text-align: center; }
              #main-content .section .question.result .checkAnswer .resultStat .chart > div .number {
                font-size: 2rem; }
              #main-content .section .question.result .checkAnswer .resultStat .chart > div .total {
                font-size: .8rem; }
          #main-content .section .question.result .checkAnswer .resultStat .stat {
            padding: 14px; }
            #main-content .section .question.result .checkAnswer .resultStat .stat.hide {
              visibility: hidden; }
            #main-content .section .question.result .checkAnswer .resultStat .stat > div {
              margin-bottom: 3px; }
              #main-content .section .question.result .checkAnswer .resultStat .stat > div > span {
                display: inline-block;
                line-height: 24px;
                width: 20px;
                height: 24px;
                vertical-align: middle;
                font-size: .8rem; }
                #main-content .section .question.result .checkAnswer .resultStat .stat > div > span:first-child {
                  background-image: url("../images/img_settings.png");
                  background-repeat: no-repeat;
                  background-position: center; }
                #main-content .section .question.result .checkAnswer .resultStat .stat > div > span.thumbUp, #main-content .section .question.result .checkAnswer .resultStat .stat > div > span.thumbDown {
                  width: 26px;
                  background-image: url("../images/bn_tools_02.png");
                  background-position: -150px -34px;
                  background-color: #70D228; }
                #main-content .section .question.result .checkAnswer .resultStat .stat > div > span.thumbDown {
                  background-position: -186px -34px;
                  background-color: #FF2912; }
                #main-content .section .question.result .checkAnswer .resultStat .stat > div > span.true, #main-content .section .question.result .checkAnswer .resultStat .stat > div > span.false {
                  width: 24px;
                  background-image: url("../images/true_32x32.png");
                  background-size: 100% 100%;
                  background-repeat: no-repeat;
                  background-position: center; }
                #main-content .section .question.result .checkAnswer .resultStat .stat > div > span.false {
                  background-image: url("../images/false_32x32.png"); }
                #main-content .section .question.result .checkAnswer .resultStat .stat > div > span.A {
                  background-position: -131px 0px; }
                #main-content .section .question.result .checkAnswer .resultStat .stat > div > span.B {
                  background-position: -161px 0px; }
                #main-content .section .question.result .checkAnswer .resultStat .stat > div > span.C {
                  background-position: -191px 0px; }
                #main-content .section .question.result .checkAnswer .resultStat .stat > div > span.D {
                  background-position: -221px 0px; }
                #main-content .section .question.result .checkAnswer .resultStat .stat > div > span.E {
                  background-position: -251px 0px; }
                #main-content .section .question.result .checkAnswer .resultStat .stat > div > span.percent {
                  width: 50px;
                  padding-left: 5px;
                  padding-right: 10px; }
                  #main-content .section .question.result .checkAnswer .resultStat .stat > div > span.percent.notZero {
                    background-color: #B5DDFC; }
                #main-content .section .question.result .checkAnswer .resultStat .stat > div > span.person {
                  width: 20px;
                  height: 20px;
                  background-repeat: no-repeat;
                  background-image: url("../images/img_settings.png");
                  background-position: -281px 0px;
                  margin-left: 10px;
                  margin-right: 6px; }
                #main-content .section .question.result .checkAnswer .resultStat .stat > div > span.cnt {
                  width: 30px; }
        #main-content .section .question.result .checkAnswer .clickView {
          background: #fff;
          color: #B2B4B6;
          border: 1px solid #B2B4B6;
          vertical-align: top;
          border: none;
          color: #000;
          overflow-x: hidden;
          overflow-y: auto;
          max-height: 287px; }
          #main-content .section .question.result .checkAnswer .clickView .table {
            display: table;
            width: 100%;
            font-size: 0.7rem; }
            #main-content .section .question.result .checkAnswer .clickView .table .th,
            #main-content .section .question.result .checkAnswer .clickView .table .td {
              display: table-row;
              background: #fff; }
              #main-content .section .question.result .checkAnswer .clickView .table .th:nth-child(odd),
              #main-content .section .question.result .checkAnswer .clickView .table .td:nth-child(odd) {
                background: #EAF6FF; }
              #main-content .section .question.result .checkAnswer .clickView .table .th:first-child,
              #main-content .section .question.result .checkAnswer .clickView .table .td:first-child {
                background: #809EBD;
                color: #fff; }
              #main-content .section .question.result .checkAnswer .clickView .table .th.total,
              #main-content .section .question.result .checkAnswer .clickView .table .td.total {
                font-size: .9rem; }
              #main-content .section .question.result .checkAnswer .clickView .table .th > span,
              #main-content .section .question.result .checkAnswer .clickView .table .td > span {
                display: table-cell;
                text-align: center;
                height: 25px;
                vertical-align: middle;
                border-left: 1px solid #D0D2D3; }
                #main-content .section .question.result .checkAnswer .clickView .table .th > span span,
                #main-content .section .question.result .checkAnswer .clickView .table .td > span span {
                  text-align: center;
                  color: #000; }
                #main-content .section .question.result .checkAnswer .clickView .table .th > span.senderName,
                #main-content .section .question.result .checkAnswer .clickView .table .td > span.senderName {
                  max-width: 50px;
                  padding-left: 3px;
                  text-align: left;
                  white-space: nowrap;
                  word-wrap: break-word;
                  word-break: break-all;
                  overflow: hidden;
                  text-overflow: ellipsis; }
                #main-content .section .question.result .checkAnswer .clickView .table .th > span.focused,
                #main-content .section .question.result .checkAnswer .clickView .table .td > span.focused {
                  background-color: #89D1FA; }
                #main-content .section .question.result .checkAnswer .clickView .table .th > span.answered.on,
                #main-content .section .question.result .checkAnswer .clickView .table .td > span.answered.on {
                  background: url("../images/icon_warn.png") no-repeat 0 0;
                  background-position: center; }
                #main-content .section .question.result .checkAnswer .clickView .table .th > span.answered.off,
                #main-content .section .question.result .checkAnswer .clickView .table .td > span.answered.off {
                  background: url("../images/icon_answered.png") no-repeat 0 0;
                  background-position: center; }
                #main-content .section .question.result .checkAnswer .clickView .table .th > span.record.on,
                #main-content .section .question.result .checkAnswer .clickView .table .td > span.record.on {
                  background: url("../images/icon_answerSpot.png") no-repeat 0 0;
                  background-position: center; }
                #main-content .section .question.result .checkAnswer .clickView .table .th > span.answered.on.focused,
                #main-content .section .question.result .checkAnswer .clickView .table .td > span.answered.on.focused {
                  background: #89D1FA url("../images/icon_warn.png") no-repeat 0 0;
                  background-position: center; }
                #main-content .section .question.result .checkAnswer .clickView .table .th > span.answered.off.focused,
                #main-content .section .question.result .checkAnswer .clickView .table .td > span.answered.off.focused {
                  background: #89D1FA url("../images/icon_answered.png") no-repeat 0 0;
                  background-position: center; }
                #main-content .section .question.result .checkAnswer .clickView .table .th > span.record.on.focused,
                #main-content .section .question.result .checkAnswer .clickView .table .td > span.record.on.focused {
                  background: #89D1FA url("../images/icon_answerSpot.png") no-repeat 0 0;
                  background-position: center; }
                #main-content .section .question.result .checkAnswer .clickView .table .th > span.hide,
                #main-content .section .question.result .checkAnswer .clickView .table .td > span.hide {
                  display: none; }
            #main-content .section .question.result .checkAnswer .clickView .table .th {
              font-size: .8rem; }
        #main-content .section .question.result .submittedPicInfo {
          padding: 0 10px; }
        #main-content .section .question.result .showStudentPic {
          display: block;
          width: 100%;
          height: 410px;
          overflow-y: auto; }
          #main-content .section .question.result .showStudentPic > div {
            display: inline-block;
            width: 25%;
            margin: 10px 0;
            text-align: center;
            font-size: .8rem;
            vertical-align: top; }
            #main-content .section .question.result .showStudentPic > div .emptyAnswer,
            #main-content .section .question.result .showStudentPic > div img {
              display: block;
              margin: 0 auto;
              width: 120px;
              height: 73px; }
            #main-content .section .question.result .showStudentPic > div .emptyAnswer {
              background: url("../images/img_settings.png") no-repeat -311px 0px; }
            #main-content .section .question.result .showStudentPic > div.hide img {
              visibility: hidden;
              border: 1px solid green; }
    #main-content .section .bottom-btn {
      text-align: center;
      padding-top: 10px; }
      #main-content .section .bottom-btn button {
        margin-right: 10px;
        font-size: .85rem; }
  #main-content .summary {
    margin-left: 195px;
    margin-right: 2px;
    border: 1px solid #D0D2D3; }
    #main-content .summary > div:first-child {
      display: table;
      width: 100%;
      height: 180px; }
      #main-content .summary > div:first-child > div {
        display: table-cell;
        width: 50%;
        position: relative; }
        #main-content .summary > div:first-child > div:first-child {
          padding-left: 80px; }
        #main-content .summary > div:first-child > div .chart {
          display: table-cell;
          text-align: center;
          position: relative;
          width: 150px;
          height: 150px;
          color: #26A9E0; }
          #main-content .summary > div:first-child > div .chart.correct {
            color: #8BC53F; }
          #main-content .summary > div:first-child > div .chart svg {
            width: 150px;
            height: 150px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1; }
          #main-content .summary > div:first-child > div .chart .pieText {
            font-size: .9rem;
            margin: 30% 20px 0; }
            #main-content .summary > div:first-child > div .chart .pieText .number {
              font-size: 2rem; }
            #main-content .summary > div:first-child > div .chart .pieText .percent {
              font-size: .75rem; }
        #main-content .summary > div:first-child > div .textInfo {
          font-size: .8rem;
          position: absolute;
          left: 160px;
          top: 50%; }
          @media screen and (min-width: 840px) {
            #main-content .summary > div:first-child > div .textInfo {
              font-size: 1rem; } }
          #main-content .summary > div:first-child > div .textInfo .square {
            font-size: 24px; }
          #main-content .summary > div:first-child > div .textInfo .wrong {
            color: #F16522; }
          #main-content .summary > div:first-child > div .textInfo .notSubmitted {
            color: #58595B; }
    #main-content .summary .summaryTable {
      height: 387px;
      overflow-y: auto; }
      @media screen and (min-width: 840px) {
        #main-content .summary .summaryTable {
          height: auto; } }
      #main-content .summary .summaryTable .table {
        display: table;
        width: 100%;
        font-size: 0.8rem; }
        #main-content .summary .summaryTable .table .th,
        #main-content .summary .summaryTable .table .td {
          display: table-row;
          background: #fff; }
          #main-content .summary .summaryTable .table .th:nth-child(odd),
          #main-content .summary .summaryTable .table .td:nth-child(odd) {
            background: #C2E3FF; }
          #main-content .summary .summaryTable .table .th > span,
          #main-content .summary .summaryTable .table .td > span {
            display: table-cell;
            text-align: center;
            height: 25px;
            vertical-align: middle;
            border-right: 1px solid #D0D2D3;
            font-size: .75rem;
            padding: 0 10px; }
            #main-content .summary .summaryTable .table .th > span:first-child,
            #main-content .summary .summaryTable .table .td > span:first-child {
              text-align: left; }
            #main-content .summary .summaryTable .table .th > span.focused,
            #main-content .summary .summaryTable .table .td > span.focused {
              background: #A7D8FF; }
            #main-content .summary .summaryTable .table .th > span span,
            #main-content .summary .summaryTable .table .td > span span {
              text-align: center; }
            #main-content .summary .summaryTable .table .th > span.senderName,
            #main-content .summary .summaryTable .table .td > span.senderName {
              max-width: 80px;
              padding: 3px;
              text-align: left;
              white-space: normal;
              word-wrap: break-word;
              word-break: break-all; }
        #main-content .summary .summaryTable .table .th > span {
          color: #fff;
          background: #809EBD; }

/***** Dialog - msg-page style ******/
.ui-widget-overlay {
  opacity: 0.78;
  background: #000;
  -webkit-app-region: no-drag; }

.ui-dialog {
  font-family: sans-serif;
  border: none;
  background: -webkit-linear-gradient(#FFFFFF, #DCDCDC);
  -webkit-app-region: no-drag;
  /***** Dialog - only close button ******/
  /***** Answer button ******/ }
  .ui-dialog .ui-dialog-titlebar {
    background: #59A4DF;
    border: 0;
    border-radius: 0;
    margin: 10px -3.52px; }
    .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
      background: none;
      border: 0;
      outline: none;
      position: absolute;
      top: -5px;
      right: 8px; }
      .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick {
        display: block;
        width: 27px;
        height: 27px;
        background-image: url(../images/bn_tools_02.png);
        background-position: -222px 0; }
        .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick:hover {
          background-position: -222px -36px; }
        .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick:active {
          background-position: -222px -72px; }
  .ui-dialog .ui-dialog-buttonpane {
    border: none;
    background: none;
    padding: 10px; }
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
      float: none;
      text-align: center; }
      .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
        color: #fff;
        background: -webkit-linear-gradient(#545754, #14211F);
        border: 0;
        outline: none;
        margin: 0 15px; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:hover {
          background: -webkit-linear-gradient(#7C7F7C, #3C4947); }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:active {
          background: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%); }
  .ui-dialog.titlbar-only-close {
    border: 0;
    outline: none; }
    .ui-dialog.titlbar-only-close .ui-widget-header {
      border: 0;
      background: none;
      outline: none;
      margin: 0;
      height: 1rem; }
    .ui-dialog.titlbar-only-close .ui-dialog-titlebar-close {
      border: 0;
      background: none;
      outline: none;
      top: 7px; }
  .ui-dialog #dialog-preview .subject {
    background: #59A4DF;
    border: 0;
    border-radius: 0;
    margin: -10px -17px 0 -17px;
    padding: 8px 17px;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.2; }
    .ui-dialog #dialog-preview .subject .small {
      font-size: .8rem;
      font-weight: normal;
      margin-left: .5rem; }
  .ui-dialog #dialog-preview .previewContent {
    font-size: 13pt;
    overflow-y: auto;
    height: 410px;
    max-height: 410px;
    border-top: 0;
    margin-right: -17px;
    padding-top: 10px; }
    .ui-dialog #dialog-preview .previewContent .previewImage {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 240px; }
  .ui-dialog #dialog-preview .answers {
    height: 1rem; }
  .ui-dialog #dialog-preview .only-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 500px; }
  .ui-dialog #answers {
    text-align: center;
    margin-top: 5px; }
    .ui-dialog #answers span {
      display: inline-block;
      width: auto;
      height: auto;
      color: #000000;
      background-image: -webkit-linear-gradient(#FFFFFF, #EBEBEB);
      border: 1px solid #A6A8AB;
      box-shadow: 1px 2px 3px rgba(51, 51, 102, 0.5);
      border-radius: 4px;
      margin-right: 10px;
      padding: 5px 20px;
      font-size: 1rem;
      outline: none;
      cursor: default; }
      .ui-dialog #answers span:last-child {
        margin-right: 0; }
    .ui-dialog #answers.boolean span, .ui-dialog #answers.choice-2 span {
      width: 200px; }
    .ui-dialog #answers.choice-3 span {
      width: 175px; }
    .ui-dialog #answers.choice-4 span {
      width: 100px; }
    .ui-dialog #answers.choice-5 span {
      width: 90px; }
    .ui-dialog #answers.commend span:after {
      content: ' ';
      display: inline-block;
      width: 26px;
      height: 24px;
      background-image: url(../images/bn_tools_02.png);
      background-repeat: no-repeat; }
    .ui-dialog #answers.commend .thumbs-up:after {
      background-position: -150px 0; }
    .ui-dialog #answers.commend .thumbs-down:after {
      background-position: -186px 0; }
    .ui-dialog #answers .upload {
      line-height: 35px;
      vertical-align: top; }
    .ui-dialog #answers #img_path {
      display: inline-block;
      width: 80%;
      height: 32px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      -webkit-user-select: none;
      cursor: default;
      outline: none; }
    .ui-dialog #answers #choose_img {
      display: inline-block;
      font-family: monospace;
      width: 40px;
      height: 36px;
      line-height: 28px;
      vertical-align: top;
      color: #FFFFFF;
      background-image: -webkit-linear-gradient(#545754, #14211F);
      border: 1px solid #A0A3A2;
      border-radius: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: none;
      margin: 0;
      padding: 0;
      font-size: initial;
      outline: none;
      cursor: default; }

.no-close .ui-dialog-titlebar-close,
.no-titlebar .ui-dialog-titlebar,
.titlbar-only-close .ui-dialog-title,
.no-buttonpane .ui-dialog-buttonpane {
  display: none; }

#dialog-select-answer {
  text-align: center; }
  #dialog-select-answer h4 {
    line-height: 2.5;
    font-size: larger; }
  #dialog-select-answer select {
    margin-top: 1rem;
    font-family: sans-serif; }

#dialog-pic {
  text-align: center; }
  #dialog-pic img {
    max-width: 100%;
    max-height: 100%; }
