html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html,
body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font: normal 1rem/1 "Myriad Pro","Helvetica Neue", "Helvetica", Arial, sans-serif;
  cursor: default;
  background-image: -webkit-linear-gradient(#FFFFFF, #DCDCDC);
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-app-region: drag; }

#voting-page {
  min-width: 820px;
  min-height: 620px;
  width: 820px;
  height: 620px;
  margin: 0;
  padding: 0;
  border: 2px solid #BBBDBF; }
  @media screen and (min-width: 830px) {
    #voting-page {
      width: 100%;
      height: auto;
      min-width: inherit;
      min-height: inherit;
      border: 0; } }

#taskbar > span {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin: 12px 5px;
  display: inline-block; }
#taskbar .icons {
  height: 15px;
  line-height: initial;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 1px;
  -webkit-app-region: no-drag; }
  #taskbar .icons > span {
    display: inline-block;
    width: 35px;
    height: 15px;
    margin-left: 2px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(#545754, #14211F);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: none; }
    #taskbar .icons > span:hover {
      background-image: -webkit-linear-gradient(#727574, #323F3D); }
    #taskbar .icons > span:active {
      background-image: -webkit-linear-gradient(#3DA1E0, #1A6396); }
    #taskbar .icons > span:after {
      content: ' ';
      display: block;
      width: 33px;
      height: 15px;
      margin: 0;
      padding: 0;
      background: url("../images/win-icons.png") no-repeat 10px 0px; }
    #taskbar .icons > span.icon-minimize:after {
      background: url("../images/win-icons.png") no-repeat 10px -90px; }
    #taskbar .icons > span.icon-fullscreen:after {
      background: url("../images/win-icons.png") no-repeat 10px -30px; }
    #taskbar .icons > span.icon-fullscreen.onMax:after {
      background: url("../images/win-icons.png") no-repeat 10px -61px; }

#main-content {
  -webkit-app-region: no-drag; }

#content {
  margin: 0 5px; }

#q-title {
  line-height: 36px;
  color: #fff;
  background-color: #5C99DE;
  vertical-align: middle;
  padding: 0 20px;
  font-size: 1.5rem; }
  #q-title .small {
    font-size: .7rem; }

.q-content {
  height: 410px;
  min-height: 410px;
  border: 1px solid #C3C4C6;
  border-top: 0;
  padding: 10px 20px;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: auto; }
  .q-content > div {
    font-size: .75rem;
    text-align: left;
    white-space: inherit; }

#q-image {
  text-align: center;
  max-width: 100%;
  max-height: 240px; }
  #q-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 240px; }

/***** Answer button ******/
#answers {
  text-align: center;
  margin-top: 5px; }
  #answers button,
  #answers span {
    display: inline-block;
    width: auto;
    height: auto;
    color: #000000;
    background-image: -webkit-linear-gradient(#FFFFFF, #EBEBEB);
    border: 1px solid #A6A8AB;
    box-shadow: 1px 2px 3px rgba(51, 51, 102, 0.5);
    border-radius: 4px;
    margin-right: 10px;
    padding: 5px 20px;
    font-size: 1rem;
    outline: none;
    cursor: pointer; }
    #answers button.answer:hover,
    #answers span.answer:hover {
      color: #FFFFFF;
      background-image: -webkit-linear-gradient(#7C7F7C, #3C4947);
      border: 1px solid transparent; }
    #answers button.answer:active,
    #answers span.answer:active {
      color: #FFFFFF;
      background-image: -webkit-linear-gradient(#3DA1E0, #1A6396);
      border: 1px solid transparent; }
    #answers button.checked, #answers button.checked:hover,
    #answers span.checked,
    #answers span.checked:hover {
      color: #FFFFFF;
      background-image: -webkit-linear-gradient(#3DA1E0, #1A6396);
      border: 1px solid transparent; }
    #answers button:last-child,
    #answers span:last-child {
      margin-right: 0; }
  #answers.boolean button, #answers.choice-2 button {
    width: 265px; }
  #answers.choice-3 button {
    width: 175px; }
  #answers.choice-4 button {
    width: 145px; }
  #answers.choice-5 button {
    width: 130px; }
  #answers.commend span:after {
    content: ' ';
    display: inline-block;
    width: 26px;
    height: 24px;
    background-image: url(../images/bn_tools_02.png);
    background-repeat: no-repeat; }
  #answers.commend .thumbs-up:after {
    background-position: -150px 0; }
  #answers.commend .answer.thumbs-up:hover:after,
  #answers.commend .answer.thumbs-up:focus:after,
  #answers.commend .thumbs-up.checked:after {
    background-position: -150px -35px; }
  #answers.commend .thumbs-down:after {
    background-position: -186px 0; }
  #answers.commend .answer.thumbs-down:hover:after,
  #answers.commend .answer.thumbs-down:focus:after,
  #answers.commend .thumbs-down.checked:after {
    background-position: -186px -34px; }
  #answers .upload {
    line-height: 35px;
    vertical-align: top; }
  #answers.stopped button,
  #answers.stopped span {
    opacity: .5;
    cursor: not-allowed; }

#answers #img_path {
  display: inline-block;
  width: 80%;
  height: 32px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer; }
  #answers #img_path.disable, #answers #img_path[disabled=disabled] {
    opacity: .5;
    cursor: not-allowed; }

#answers #choose_img {
  display: inline-block;
  font-family: monospace;
  width: 40px;
  height: 36px;
  line-height: 28px;
  vertical-align: top;
  color: #FFFFFF;
  background-image: -webkit-linear-gradient(#545754, #14211F);
  border: 1px solid #A0A3A2;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: none;
  margin: 0;
  padding: 0;
  font-size: initial;
  outline: none;
  cursor: pointer; }
  #answers #choose_img.disabled {
    opacity: .5;
    cursor: not-allowed; }

.black-btn {
  display: inline-block;
  width: 200px;
  height: auto;
  color: #FFFFFF;
  background-image: -webkit-linear-gradient(#545754, #14211F);
  border: 0;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(51, 51, 102, 0.5);
  font-size: 1rem;
  padding: 5px 20px;
  outline: none; }
  .black-btn:hover {
    background-image: -webkit-linear-gradient(#7C7F7C, #3C4947); }
  .black-btn.active, .black-btn:active {
    background-image: -webkit-linear-gradient(#3DA1E0, #1A6396); }

#bottom-btn {
  width: 100%;
  text-align: center;
  visibility: hidden;
  margin-top: 10px;
  margin-bottom: 10px; }

/* jQuery UI dialog */
.no-close .ui-dialog-titlebar-close,
.no-titlebar .ui-dialog-titlebar,
.titlbar-only-close .ui-dialog-title,
.no-buttonpane .ui-dialog-buttonpane,
.ui-draggable .ui-dialog-titlebar {
  display: none; }

.ui-widget-overlay {
  opacity: 0.9; }

.ui-dialog {
  -webkit-app-region: no-drag;
  /***** Dialog - only close button ******/ }
  .ui-dialog.ui-widget {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #75706C), color-stop(85%, #4E4A49));
    background-color: #4E4A49;
    border: 1px solid #4E4A49; }
  .ui-dialog.titlbar-only-close {
    border: 0;
    outline: none; }
    .ui-dialog.titlbar-only-close .ui-dialog-titlebar {
      border: 0;
      border-radius: 0;
      background: none;
      outline: none;
      margin: 0;
      height: 1rem; }
      .ui-dialog.titlbar-only-close .ui-dialog-titlebar .ui-dialog-titlebar-close {
        background: none;
        border: 0;
        outline: none;
        position: absolute;
        top: 6px;
        right: 8px; }
        .ui-dialog.titlbar-only-close .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick {
          display: block;
          width: 27px;
          height: 27px;
          background-image: url(../images/bn_tools_02.png);
          background-position: -222px 0; }
          .ui-dialog.titlbar-only-close .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick:hover {
            background-position: -222px -36px; }
          .ui-dialog.titlbar-only-close .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick:active {
            background-position: -222px -72px; }
  .ui-dialog .ui-dialog-content {
    color: #fff;
    font-size: 1rem;
    text-align: center; }
    .ui-dialog .ui-dialog-content h3 {
      font-size: 1.2;
      line-height: 3; }
    .ui-dialog .ui-dialog-content p {
      line-height: 1.5; }
  .ui-dialog .ui-dialog-buttonpane {
    background: none;
    border: none;
    text-align: center;
    padding: .3rem .4rem; }
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
      float: none;
      text-align: center; }
      .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
        color: #DDDDDD;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0175B2), color-stop(100%, #022336));
        border: none;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        padding: 0.3rem 0.75rem;
        box-sizing: border-box;
        -webkit-transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
        border-radius: 4px;
        font-size: .9rem;
        outline: none;
        margin: 0 1rem; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:hover {
          color: #fff;
          background: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%); }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:active {
          color: #fff;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2498D5), color-stop(100%, #254659)); }

#dialog-preview .only-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 500px; }
