@import "compass/reset";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font: normal 1rem/1 "Myriad Pro","Helvetica Neue", "Helvetica", Arial, sans-serif;
  cursor: default;
  background-image : -webkit-linear-gradient(#FFFFFF, #DCDCDC);
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.hide {
  display: none;
}

#device-manager {
  width: 655px;
  height: 420px;
  margin: 0;
  padding: 0;
  border: 2px solid #BBBDBF;
}

/** Common **/
button {
  display: inline-block;
  color: #fff;
  background-image : -webkit-linear-gradient(#545754, #14211F);
  border-radius: 4px;
  text-align: center;
  font-size: .9rem;
  padding: 12px 24px;
  border: none;
  box-sizing: border-box;
  outline: none;
}
button:hover {
  color: #fff;
  background-image : -webkit-linear-gradient(#7C7F7C, #3C4947);
}
button:active {
  color: #fff;
  background-image: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
}
button[disabled] {
  display: none;
  opacity: .5;
  &:hover,
  &:active {
    background-image : -webkit-linear-gradient(#545754, #14211F);
  }
}

input[type="text"],
input[type="password"] {
  background: #fff;
  border: 1px solid #A6A8AB;
  color: #000;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: rgba(0, 0, 0, 0.5);
}
input[type="text"].error,
input[type="password"].error,
select.error {
  border: 1px solid red;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
input[type="text"][disabled],
fieldset[disabled] input[type="text"],
input[type="password"][disabled],
fieldset[disabled] input[type="password"] {
  color: #ccc;
  background-color: #dddddd;
}

.errMsg {
  color: red;
}

/** Title, Taskbar **/
#taskbar {
  padding: 14px 0 0 11px;
  img {
    width: 25px;
    height: 23px;
  }
  span {
    display: inline-block;
    line-height: 23px;
    vertical-align: middle;
  }
  .icons {
    height: 15px;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: -1px;
    -webkit-app-region: no-drag;
    > span {
      display: inline-block;
      width: 35px;
      height: 15px;
      margin-left: 2px;
      cursor: pointer;
      background-image : -webkit-linear-gradient(#545754, #14211F);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      outline: none;
      &:hover {
        background-image : -webkit-linear-gradient(#727574, #323F3D);
      }
      &:active {
        background-image : -webkit-linear-gradient(#3DA1E0, #1A6396);
      }
      &:after {
        content: ' ';
        display: block;
        width: 33px;
        height: 15px;
        margin: 0;
        padding: 0;
        background: url("../images/win-icons.png") no-repeat 10px 0px;
      }
      &.icon-minimize:after {
        background: url("../images/win-icons.png") no-repeat 10px -90px;
      }
    }
  }
}

/** Main Content **/
#main-content {
  position: relative;
  -webkit-app-region: no-drag;
  
  nav {
    width: 172px;
    float: left;
    
    > div {
      display: none;
      color: #fff;
      background-color: #9B9D9E;
      margin: 0 6px 1px 6px;
      padding: 8px 14px;
      border-radius: 4px;
      font-size: .75rem;
      &.enabled {
        display: block;
      }
      &:hover,
      &.active {
        background: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
      }
    }
  }
  
  section {
    background-color: #fff;
    margin-left: 172px;
    margin-right: 2px;
    height: 365px;
    border: 1px solid #C3C4C6;
    
    h2 {
      background: #5C99DE;
      color: #fff;
      padding: 10px;
    }
    
    .cols {
      display: block;
      
      &.wifi {
        height: 2rem; 
      }
      
      > span {
        display: inline-block;
        vertical-align: baseline;
        height: 1.45rem;
        
        &:first-child {
          width: 140px;
          text-align: right;
          padding-right: 5px;
        }
        
        input[name="key"] {
          display: inline-block;
          width: 130px;
        }
      }      
    }
    
    .wifi.disabled {
      color: #A1A1A1;
    }
  }
}

#deviceIP {
  position: absolute;
  right: 10px;
  top: 1.5px;
  color: #fff;
  padding: 10px;
  font-size: .75rem;
  border: 1px solid #5C99DE;
  &:hover {
    border: 1px solid #F8DE7E;
    color: #F8DE7E;
    &:before {
      content: '\270E';
      font-size: 24px;
      vertical-align: middle;
      line-height: 1px;
      padding-right: 7px;
    }
  }
}

#reset-block {
  padding: 45px 10px;
  text-align: center;
  > div {
    display: inline-block;
    button {
      min-width: 135px;
    }
    > div {
      font-size: .75rem;
      line-height: 1.5rem;
    }
  }
}

#setting-form {
  font-size: 0.8rem;
  margin-top: 20px;
  
  input[type="text"],
  select {
    width: 211px;
    vertical-align: middle;
    height: 2rem;
  }
  select {
    border: none;
  }
  button {
    padding: 0px 15px;
    height: 2rem;
  }
}

#protection-form {
  margin-left: 50px;
  margin-top: 22px;
  > div {
    margin-bottom: 10px;
    .pw-inputs {
      margin: 10px 35px;
      > div {
        margin-bottom: 10px;
        > span {
          display: inline-block;
          font-size: .75rem;
        }
      }
      input {
        width: 142px;
        height: 2rem;
      }
    }
  }
}

#upgrade-block {
  padding: 45px 10px;
  text-align: center;
}


/* jQuery UI dialog */
.ui-widget-overlay {
  opacity: 0.9;
}

.ui-draggable .ui-dialog-titlebar {
  visibility: hidden;
}

.ui-dialog {
  -webkit-app-region: no-drag;
  p {
    margin: .5rem;
    line-height: 2;
  }
  &.ui-widget {
    color: #fff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(15%, #75706C), color-stop(85%, #4E4A49) );
    background-color: #4E4A49;
    border: 1px solid #4E4A49;
  }
  .ui-dialog-content {
    color: #fff;
    font-size: 1rem;
    text-align: center;
  }
  .ui-dialog-buttonpane {
    background: none;
    border: none;
    text-align: center;
    padding: .3rem .4rem;

    .ui-dialog-buttonset {
      float: none;
      text-align: center;
    }

    button {
      width: 120px;
      padding: 5px;
      color: #fff;
      background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #565656), color-stop(95%, #000000) );
      background-color: #000;
      border: 1px solid #000;
      border-radius: 5px;
    }
  }
}

#dialog-waiting p {
  margin: 0 auto;
}