@import "compass/reset";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: normal 1rem/1 "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  cursor: default;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

#group-file {
  background-image : -webkit-linear-gradient(#FFFFFF, #DCDCDC);
  border: 2px solid #BBBDBF;
  margin: 0;
  padding: 0;
  min-width: 500px;
  min-height: 700px;
  width: 500px;
  height: 700px;
  position: relative;
}

/** Taskbar: minimize, close **/
#taskbar {
  height: 37px;
  .icons {
    height: 15px;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: -1px;
    > span {
      display: inline-block;
      width: 35px;
      height: 15px;
      margin-left: 2px;
      cursor: pointer;
      background-image : -webkit-linear-gradient(#545754, #14211F);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      outline: none;
      &:hover {
        background-image : -webkit-linear-gradient(#727574, #323F3D);
      }
      &:active {
        background-image : -webkit-linear-gradient(#3DA1E0, #1A6396);
      }
      &:after {
        content: ' ';
        display: block;
        width: 33px;
        height: 15px;
        margin: 0;
        padding: 0;
        background: url("../images/win-icons.png") no-repeat 10px 0px;
      }
      &.icon-minimize:after {
        background: url("../images/win-icons.png") no-repeat 10px -90px;
      }
    }
  }
}

/** Common style **/
.title {
  padding-left: 6px;
}
.border {
  border: 1px solid #cccccc;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
}
.hide {
  display: none;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

input[type="text"] {
  -webkit-appearance: none;
  color: #fff;
  background-color: #6D6E70;
  font-family: inherit;
  border: 1px solid transparent;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 175px;
  margin: 0;
  padding: 0.25rem;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  &:focus {
    box-shadow: 0 0 5px #999999;
    border-color: #999999;
    outline: none;
    &.error {
      border-color: red;
    }
  }
}

.button {
  display: inline-block;
  color: #DDD;
  background-image : -webkit-linear-gradient(#0175B2, #022336);
  border: 0;
  border-radius: 6px;
  text-align: center;
  font-size: .85rem;
  padding: 0.4rem 1.35rem;
  box-sizing: border-box;
  outline: none;
}
.button:hover {
  color: #fff;
  background-image: -webkit-linear-gradient(#2498D5, #254659);
}
.button:active {
  color: #fff;
  background-image: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
}

.button-black {
  display: inline-block;
  color: #fff;
  background-image : -webkit-linear-gradient(#545754, #14211F);
  border-radius: 4px;
  text-align: center;
  font-size: .9rem;
  padding: 0.5rem 1rem;
  border: none;
  box-sizing: border-box;
  outline: none;
}
.button-black:hover {
  color: #fff;
  background-image : -webkit-linear-gradient(#7C7F7C, #3C4947);
}
.button-black:active {
  color: #fff;
  background-image: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
}

.errorMsg {
  display: none;
  margin-left: 3.4rem;
  color: red;
  &.show {
    display: block;
  }
}

#main-content {
  padding: 3px;
  
  header {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    
    > div {
      display: table-cell;
      width: 50%;
      
      > div.border {
        height: 50px;
        padding: 13.75px 5px;
        
        > div {
          margin-bottom: 3px;
        }
        
        label {
          display: inline-block;
          width: 45px;
          font-size: .9rem;
        }
      }
    }
  }
  
  section {
    margin-top: 15px;
    
    > div:first-child {
      height: 2rem;
      position: relative;
      
      > div.title {
        position: relative;
        bottom: -1rem;
      }
    }
    
    > div.border {
      height: 450px;
      overflow: hidden;
      overflow-y: auto;
    }
    
    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      
      li {
        background-image: -webkit-linear-gradient(#FFFFFF, #E6E6E6);
        border-bottom: 1px solid #cccccc;
        -webkit-app-region: no-drag;
        
        &:hover,
        &.focus {
          background-image: -webkit-linear-gradient(#C8C8C8, #F0F0F0);
        }
        
        > div {
          display: table;
          width: 100%;
          margin: 0 auto;
          border: 0;

          > div {
            display: table-cell;
            vertical-align: middle;
            &:first-child,
            &:last-child {
              width: 50px;
              text-align: center;
            }
          }
          .person-icon {
            display: block;
            width: 45px;
            height: 45px;
            background: url("../images/bn_check.png") no-repeat -157px 4px;
          }
          input {
            width: 100%;
            box-shadow: none;
            border: 1px solid transparent;
            background-color: transparent;
            color: #000;
            margin: 2px;
            &.student-name {
              margin-bottom: 0;
              font-size: 1rem;
            }
            &.student-device {
              font-size: .75rem;
            }
            &.error {
              border: 1px solid red;
            }
          }
          .delete {
            display: none;
          }
          
        }
        
        &.selected,
        &.dragover {
          background-image: -webkit-linear-gradient(#408FEB, #265EA6);
          .person-icon {
            display: block;
            width: 45px;
            height: 45px;
            background: url("../images/bn_check.png") no-repeat -157px -41px;
          }          
          input {
            background-color: #F1F1F2;
            &.error {
              border: 1px solid red;
            }
          }
          
          .delete {
            display: block;
            width: 20px;
            height: 20px;
            background: url("../images/bn_tools_01.png") no-repeat -220px 0px;
            margin: 0 auto;
          }
        }
        
        &.selected {
          input {
            &.student-name,
            &.student-device {
              font-size: .85rem;
            }
          }
        }
        
      }
    }
  }
  
  #add-item {
    display: block;
    position: absolute;
    bottom: 2px;
    right: 5px;
  }
  
  footer {
    margin: 10px;
    text-align: right;
    position: relative;
    
    #msg {
      display: inline-block;
      color: green;
      padding: 0;
      padding-right: 2rem;
      &.error {
        color: red;
      }
    }
    
  }
}

/***** Dialog - msg-page style ******/
.msg-page,
.msg-page .ui-dialog-buttonpane {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404242), color-stop(100%, #141417));
}
.msg-page .ui-dialog-content {
  color: #fff;
}
.msg-page .ui-dialog-titlebar {
  background: none;
  border: none;
}
.msg-page .ui-dialog-buttonpane {
  background: none;
}
.msg-page .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
  text-align: center;
}
.msg-page .ui-dialog-buttonpane button {
  color: #DDDDDD;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0175B2), color-stop(100%, #022336));
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0.3rem 0.75rem;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  border-radius: 4px;
  font-size: .9rem;
  outline: none;
  margin: 0 1rem;
}
.msg-page .ui-dialog-buttonpane button:active {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2498D5), color-stop(100%, #254659));
}
.msg-page .ui-dialog-buttonpane button:hover {
  color: #fff;
  background: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
}
.msg-page .ui-dialog-titlebar-close {
  border: 0;
  background: none;
  outline: none;
}
.msg-page .ui-icon-closethick {
  background: none;
  color: #ddd;
  transform: rotate(45deg);
}
.msg-page .ui-icon-closethick:after,
.msg-page .ui-icon-closethick:before {
  content: '';
  pointer-events: none;
  box-shadow: inset 0 0 0 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.msg-page .ui-icon-closethick:before {
  width: 20px;
  height: 2px;
}
.msg-page .ui-icon-closethick:after {
  height: 20px;
  width: 2px;
}

/***** Dialog - only close button ******/
.no-close .ui-dialog-titlebar-close,
.no-titlebar .ui-dialog-titlebar,
.titlbar-only-close .ui-dialog-title,
.no-buttonpane .ui-dialog-buttonpane {
  display: none;
}
.titlbar-only-close .ui-widget-header {
  border: 0;
  background: none;
  height: 1rem;
}
.ui-dialog.titlbar-only-close {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #545754), color-stop(100%, #14211F));
  border: 0;
  outline: none;
}
.ui-dialog.titlbar-only-close .ui-dialog-titlebar-close {
  border: 0;
  background: none;
  outline: none;
}
.ui-dialog.titlbar-only-close .ui-icon-closethick {
  background: none;
  color: #ddd;
  transform: rotate(45deg);
}
.ui-dialog.titlbar-only-close .ui-icon-closethick:after,
.ui-dialog.titlbar-only-close .ui-icon-closethick:before {
  content: '';
  pointer-events: none;
  box-shadow: inset 0 0 0 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.ui-dialog.titlbar-only-close .ui-icon-closethick:before {
  width: 20px;
  height: 2px;
}
.ui-dialog.titlbar-only-close .ui-icon-closethick:after {
  height: 20px;
  width: 2px;
}
.ui-dialog.titlbar-only-close .ui-widget-content {
  border: 0;
}

#discard-change {
  text-align: center;
}