@import "compass/reset";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font: normal 1rem/1 "Myriad Pro","Helvetica Neue", "Helvetica", Arial, sans-serif;
  cursor: default;
  background-image : -webkit-linear-gradient(#FFFFFF, #DCDCDC);
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

#page {
  min-width: 830px;
  min-height: 630px;
  width: 830px;
  height: 630px;
  margin: 0;
  padding: 0;
  border: 2px solid #BBBDBF;
  @media screen and (min-width: 840px) {
    width: 100%;
    height: auto;
    border: 0;
  }
}

.hide {
  display: none;
}

.taskbar {
  height: 15px;
  .icons {
    height: 15px;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 1px;
    -webkit-app-region: no-drag;
    > span {
      display: inline-block;
      width: 35px;
      height: 15px;
      margin-left: 2px;
      cursor: pointer;
      background-image : -webkit-linear-gradient(#545754, #14211F);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      outline: none;
      &:hover {
        background-image : -webkit-linear-gradient(#727574, #323F3D);
      }
      &:active {
        background-image : -webkit-linear-gradient(#3DA1E0, #1A6396);
      }
      &:after {
        content: ' ';
        display: block;
        width: 33px;
        height: 15px;
        margin: 0;
        padding: 0;
        background: url("../images/win-icons.png") no-repeat 10px 0px;
      }
      &.icon-minimize:after {
        background: url("../images/win-icons.png") no-repeat 10px -90px;
      }
      &.icon-fullscreen:after {
        background: url("../images/win-icons.png") no-repeat 10px -30px;
      }
      &.icon-restore:after,
      &.icon-fullscreen.onMax:after {
        background: url("../images/win-icons.png") no-repeat 10px -61px;
      }
      &.hide {
        display: none;
      }
    }
    
  }
}

.toolbar {
  margin: 0 0 15px;
  > div {
    display: inline-block;
    color: #808184;
    border-right: 1px solid rgba(128,129,132,.5);
    padding: 0px 10px;
    vertical-align: middle;
    //max-width: 100px;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    -webkit-app-region: no-drag;
    
    &:hover {
      color: #6D6E70;
    }
    &:active,
    &.selected {
      color: #2165BB;
    }
    > * {
      font-size: 12pt;
      line-height: 25px;
      vertical-align: middle;
    }
    > span:before {
      content: ' ';
      display: inline-block;
      width: 20px;
      height: 19px;
      vertical-align: sub;
      margin-right: 4px;
      background-image: url("../images/bn_tools_02.png");
      background-repeat: no-repeat;
    }
    &.logo {
      padding-left: 10px;
      span {
        font-size: 1rem;
        font-family: sans-serif;
        font-weight: 600;
        &:before {
          width: 24px;
          height: 21px;
          background-image: url("../images/logo_novo.png");
          background-position: 0 0;
        }
      }
    }
    &.voting-tool-create {
      span:before {
        background-position: 0 0;
      }
      &:hover span:before {
        background-position: 0 -29px;
      }
      &:active span:before,
      &.selected span:before {
        background-position: 0 -58px;
      }
      &.disable span:before {
        background-position: 0 0;
      }
    }
    &.voting-tool-open {
      span:before {
        background-position: -30px 0;
      }
      &:hover span:before {
        background-position: -30px -29px;
      }
      &:active span:before,
      &.selected span:before {
        background-position: -30px -58px;
      }
      &.disable span:before {
        background-position: -30px 0;
      }
    }
    &.voting-tool-save {
      span:before {
        background-position: -60px 0;
      }
      &:hover span:before {
        background-position: -60px -29px;
      }
      &:active span:before {
        background-position: -60px -58px;
      }
      &.disable span:before {
        background-position: -60px 0;
      }
    }
    &.voting-tool-clear {
      span:before {
        background-position: -90px 0;
      }
      &:hover span:before {
        background-position: -90px -29px;
      }
      &:active span:before {
        background-position: -90px -58px;
      }
      &.disable span:before {
        background-position: -90px 0;
      }
    }
    &.voting-tool-export {
      border: 0;
      span:before {
        background-position: -120px 0;
      }
      &:hover span:before {
        background-position: -120px -29px;
      }
      &:active span:before {
        background-position: -120px -58px;
      }
      &.disable span:before {
        background-position: -120px 0;
      }
    }
    &.filename {
      border: 0;
      float: right;
      vertical-align: middle;
      cursor: default;
      position: absolute;
      right: 0;
      top: 2.6rem;
      > div {
        font-size: 10pt;
        line-height: normal;
        text-align: right;
        white-space: nowrap;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      span {
        font-size: .8rem;
        &:before {
          display: none;
        }
      }
      .onAirCircle {
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url('../images/img_settings.png') no-repeat -107px -1px;
        margin-left: 5px;
        vertical-align: middle;
        -webkit-animation: slide 2s linear infinite;
      }
    }
    
    &.disable {
      opacity: .5;
      cursor: not-allowed;
      &:hover {
        color: #808184;
      }
      &:active,
      &.selected {
        color: #808184;
      }
    }
  }
}

@-webkit-keyframes slide {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes slideSide {
  0%   { background-image: -webkit-linear-gradient(#8CF554, #1C9126); }
  25%  { background: -webkit-linear-gradient(top, #8CF554 0%, #8CF554 40%, #1C9126 100%); }
  50%  { background: -webkit-linear-gradient(top, #8CF554 0%, #8CF554 80%, #1C9126 100%); }
  75%  { background: -webkit-linear-gradient(top, #8CF554 0%, #8CF554 40%, #1C9126 100%); }
  100% { background-image: -webkit-linear-gradient(#8CF554, #1C9126); }
}

.black-btn {
  display: inline-block;
  height: auto;
  color: #FFFFFF;
  background-image : -webkit-linear-gradient(#545754, #14211F);
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
  padding: 5px 20px;
  outline: none;
  cursor: pointer;
  &:hover {
    background-image : -webkit-linear-gradient(#7C7F7C, #3C4947);
  }
  &.active,
  &:active {
    background-image : -webkit-linear-gradient(#3DA1E0, #1A6396);
  }
  &.disable {
    opacity: .25;
    cursor: not-allowed;
    &:active,
    &:hover {
      background-image : -webkit-linear-gradient(#545754, #14211F);
    }
  }
}

#main-content {
  height: 570px;
  -webkit-app-region: no-drag;

  .side {
    overflow: hidden;
    width: 195px;
    float: left;
    > ul {
      margin: 0 5px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    #summary,
    #add-item,
    li {
      background-color: #9B9D9E;
      border-radius: 4px;
      margin-bottom: 1px;
      padding: 5px 10px;
      color: #fff;
      font-size: .8rem;
      vertical-align: middle;
      list-style: none;
      line-height: 19px;
      white-space: nowrap;
      word-wrap: break-word;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      &:hover,
      &.active {
        background-image : -webkit-linear-gradient(#3DA1E0, #1A6396);
      }
      .on-air {
        background-image: -webkit-linear-gradient(#8CF554, #1C9126);
        margin: -7px -3px -7px -10px;
        padding: 7px 3px 7px 10px;
        //-webkit-animation: slideSide 2s linear infinite;
      }
    }
    #summary {
      margin: 0 5px;
      margin-bottom: 1px;
      &:before {
        content: ' ';
        display: inline-block;
        width: 17px;
        height: 14px;
        background-image: url("../images/img_settings.png");
        background-repeat: no-repeat;
        background-position: -80px 0;
        vertical-align: text-top;
        margin-right: 5px;
      }
      &.disabled {
        opacity: .5;
        &:hover,
        &.active {
          background: #9B9D9E;
          opacity: .5;
        }
      }
    }
    #add-item {
      display: inherit;
      margin: 0 5px;
      margin-bottom: 1px;
    }
  }
  
  .section {
    margin-left: 195px;
    margin-right: 2px;
    .question {
      padding: 5px;
      background-color: #fff;
      border: 1px solid #C3C4C6;
      &.hide {
        display: none;
      }
      .subject  {
        font-size: 1.5rem;
        line-height: 1.2;
        .small {
          font-size: .8rem;
          font-weight: normal;
          margin-left: .5rem;
        }
      }
      .content,
      .image {
        font-size: 13pt;
        display: block;
        width: inherit;
        max-width: inherit;
        height: 200px;
        padding: 5px;
        text-align: left;
        white-space: inherit;
        overflow-y: auto;
        overflow-x: auto;
      }
      #richSubject {
        background-color: #D0D2D3;
        cursor: pointer;
      }
      #previewImage {
        background-color: #fff;
        border: 1px solid #D0D2D3;
        margin-bottom: 5px;
        text-align: center;
        position: relative;
        vertical-align: middle;
        line-height: 200px;
        cursor: pointer;

        img {
          max-height: 98%;
          max-width: 98%;
          vertical-align : middle;
        }
        
        .imageTool {
          position: absolute;
          width: 100%;
          line-height : 20px;
          top: 0;
          margin-left: -5px;
          text-align: right;
          background-color: #000;
          color: #fff;
          opacity: 0;
          
          span {
            display: inline-block;
            margin: 10px;
          }
        }

        &:hover .imageTool {
          opacity: 0.5;
        }
      }
      .property {
        > div {
          display: inline-block;
          width: 50%;
          &:last-child {
            text-align: right;
          }
          &.hide {
            display: none;
          }
        }
        select {
          font-size: 0.9rem;
          padding: 5px 35px 5px 20px;
          -webkit-appearance: none;
          option {
            color: #000;
            background-color: #fff;
          }
        }
        .arrowDown {
          position: relative;
          right: 30px;
          pointer-events: none;
          &:before {
            display: inline-block;
            content: "\25BC";
            color: #fff;
            font-size: 8px;
            vertical-align: middle;
          }
        }
      }
      
      &.preview {
        padding: 0;
        width: inherit;
        max-width: inherit;
        border: 0;
        > div {
          padding: 5px 10px;
        }
        .subject {
          background-color: #5C99DE;
          color: #fff;
        }
        .previewContent {
          font-size: 13pt;
          overflow-y: auto;
          border: 1px solid #C3C4C6;
          border-top: 0;
          .previewImage {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            max-height: 240px;
          }
        }
      }
      
      &.result {
        padding: 0;
        
        .subject {
          margin: 5px 10px;
        }
        
        .contentNoImg {
          width: inherit;
          max-width: inherit;
          line-height: 1.5;
          height: 30px;
          margin: 5px 10px;
          white-space: nowrap;
          word-wrap: break-word;
          word-break: break-all;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .checkAnswer {

          .resultStat {
            margin: 5px 10px;
            
            > div {
              display: inline-block;
              vertical-align: text-top;
              width: 30%;
              &.hide {
                visibility: hidden;
              }
            }
            
            .correctOpen {
              > span {
                display: block;
                line-height: 24px;
                height: 24px;
                vertical-align: middle;
                font-size: .7rem;
              }

              .answerOn,
              .answerOff {
                width: 57px;
                height: 24px;
                background-repeat: no-repeat;
                background-image: url('../images/bn_check.png');
                background-position: -240px -34px;
              }

              .answerOn {
                background-position: -240px 0px;
              }
            }
            
            .chart {
              display: inline-flex;
              width: 150px;
              height: 150px;
              text-align: center;
              position: relative;
              svg {
                display: block;
                width: 150px;
                height: 150px;
              }
              > div {
                color: #F17D22;
                font: bold 100% sans-serif;
                //text-shadow: 0 1px 1px rgba(0,0,0,.5);
                position: absolute;
                left: 0px;
                top: 56px;
                width: 150px;
                text-align: center;
                .number {
                  font-size: 2rem;
                }
                .total {
                  font-size: .8rem;
                }
              }
            }
            
            .stat {
              padding: 14px;
              &.hide {
                visibility: hidden;
              }
              > div {
                margin-bottom: 3px;

                > span {
                  display: inline-block;
                  line-height: 24px;
                  width: 20px;
                  height: 24px;
                  vertical-align: middle;
                  font-size: .8rem;

                  &:first-child {
                    background-image: url("../images/img_settings.png");
                    background-repeat: no-repeat;
                    background-position: center;
                  }
                  &.thumbUp,
                  &.thumbDown {
                    width: 26px;
                    background-image: url("../images/bn_tools_02.png");
                    background-position: -150px -34px;
                    background-color: #70D228;
                  }
                  &.thumbDown {
                    background-position: -186px -34px;
                    background-color: #FF2912;
                  }
                  &.true,
                  &.false {
                    width: 24px;
                    background-image: url("../images/true_32x32.png");
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                  }
                  &.false {
                    background-image: url("../images/false_32x32.png");
                  }
                  &.A {
                    background-position: -131px 0px;
                  }
                  &.B {
                    background-position: -161px 0px;
                  }
                  &.C {
                    background-position: -191px 0px;
                  }
                  &.D {
                    background-position: -221px 0px;
                  }
                  &.E {
                    background-position: -251px 0px;
                  }
                  &.percent {
                    width: 50px;
                    padding-left: 5px;
                    padding-right: 10px;
                    &.notZero{
                      background-color: #B5DDFC;
                    }
                  }
                  &.person {
                    width: 20px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-image: url("../images/img_settings.png");
                    background-position: -281px 0px;
                    margin-left: 10px;
                    margin-right: 6px;
                  }
                  &.cnt {
                    width: 30px;
                  }
                }
              }
            }
          }

          .clickView {
            background: #fff;
            color: #B2B4B6;
            border: 1px solid #B2B4B6;
            vertical-align: top;
            border: none;
            color: #000;
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 287px;
            
            .table {
              display: table;
              width: 100%;
              font-size: 0.7rem;
              .th,
              .td {
                display: table-row;
                background: #fff;
                &:nth-child(odd) {
                  background: #EAF6FF;
                }
                &:first-child {
                  background: #809EBD;
                  color: #fff;
                }
                &.total {
                  font-size: .9rem;
                }
                > span {
                  display: table-cell;
                  text-align: center;
                  height: 25px;
                  vertical-align: middle;
                  border-left: 1px solid #D0D2D3;
                  span {
                    text-align: center;
                    color: #000;
                  }
                  &.senderName {
                    max-width: 50px;
                    padding-left: 3px;
                    text-align: left;
                    white-space: nowrap;
                    word-wrap: break-word;
                    word-break: break-all;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  &.focused {
                    background-color: #89D1FA;
                  }
                  &.answered.on {
                    background: url("../images/icon_warn.png") no-repeat 0 0;
                    background-position: center;
                  }
                  &.answered.off {
                    background: url("../images/icon_answered.png") no-repeat 0 0;
                    background-position: center;
                  }
                  &.record.on {
                    background: url("../images/icon_answerSpot.png") no-repeat 0 0;
                    background-position: center;
                  }
                  &.answered.on.focused {
                    background: #89D1FA url("../images/icon_warn.png") no-repeat 0 0;
                    background-position: center;
                  }
                  &.answered.off.focused {
                    background: #89D1FA url("../images/icon_answered.png") no-repeat 0 0;
                    background-position: center;
                  }
                  &.record.on.focused {
                    background: #89D1FA url("../images/icon_answerSpot.png") no-repeat 0 0;
                    background-position: center;
                  }
                  &.hide {
                    display: none;
                  }
                }
              }
              .th {
                font-size: .8rem;
              }
            }
          }

        }
        
        .submittedPicInfo {
          padding: 0 10px;
        }

        .showStudentPic {
          display: block;
          width: 100%;
          height: 410px;
          overflow-y: auto;
          > div {
            display: inline-block;
            width: 25%;
            margin: 10px 0;
            text-align: center;
            font-size: .8rem;
            vertical-align: top;
            .emptyAnswer,
            img {
              display: block;
              margin: 0 auto;
              width: 120px;
              height: 73px;
            }
            .emptyAnswer {
              background: url("../images/img_settings.png") no-repeat -311px 0px;
            }
            &.hide {
              img {
                visibility: hidden;  
                border: 1px solid green;
              }
            }
          }
        }
      }
      
    }
    
    .bottom-btn {
      text-align: center;
      padding-top: 10px;
      button {
        @extend .black-btn;
        margin-right: 10px;
        font-size: .85rem;
      }
    }
  }
  
  .summary {
    margin-left: 195px;
    margin-right: 2px;
    border: 1px solid #D0D2D3;
    > div:first-child {
      display: table;
      width: 100%;
      height: 180px;
      > div {
        display: table-cell;
        width: 50%;
        position: relative;
        &:first-child {
          padding-left: 80px;
        }
        .chart {
          display: table-cell;
          text-align: center;
          //text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
          position: relative;
          width: 150px;
          height: 150px;
          color: #26A9E0;
          &.correct {
            color: #8BC53F;
          }
          svg {
            width: 150px;
            height: 150px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
          }
          .pieText {
            font-size: .9rem;
            margin: 30% 20px 0;
            .number {
              font-size: 2rem;
            }
            .percent {
              font-size: .75rem;
            }
          }
        }
        .textInfo {
          font-size: .8rem;
          position: absolute;
          left: 160px;
          top: 50%;
          @media screen and (min-width: 840px) {
            font-size: 1rem;
          }
          .square{
            font-size: 24px;
          }
          .wrong {
            color: #F16522;
          }
          .notSubmitted {
            color: #58595B;
          }
        }
      }
    }
    .summaryTable {
      height: 387px;
      overflow-y: auto;
      @media screen and (min-width: 840px) {
        height: auto;
      }
      .table {
        display: table;
        width: 100%;
        font-size: 0.8rem;
        .th,
        .td {
          display: table-row;
          background: #fff;
          &:nth-child(odd) {
            background: #C2E3FF;
          }
          > span {
            display: table-cell;
            text-align: center;
            height: 25px;                  
            vertical-align: middle;
            border-right: 1px solid #D0D2D3;
            font-size: .75rem;
            padding: 0 10px;
            &:first-child {
              text-align: left;
            }
            &.focused {
              background: #A7D8FF;
            }
            span {
              text-align: center;
            }
            &.senderName {
              max-width: 80px;
              padding: 3px;
              text-align: left;
              white-space: normal;
              word-wrap: break-word;
              word-break: break-all;
            }
          }
        }
        .th {
          > span {
            color: #fff;
            background: #809EBD;
          }
        }
      }
    }
  }
}

/***** Dialog - msg-page style ******/
.ui-widget-overlay {
  opacity: 0.78;
  background: #000;
  -webkit-app-region: no-drag;
}

.ui-dialog {
  font-family: sans-serif;
  border: none;
  background: -webkit-linear-gradient(#FFFFFF, #DCDCDC);
  -webkit-app-region: no-drag;
  .ui-dialog-titlebar {
    background: #59A4DF;
    border: 0;
    border-radius: 0;
    margin: 10px -3.52px;
    .ui-dialog-titlebar-close {
      background: none;
      border: 0;
      outline: none;
      position: absolute;
      top: -5px;
      right: 8px;
      .ui-icon-closethick {
        display: block;
        width: 27px;
        height: 27px;
        background-image: url(../images/bn_tools_02.png);
        background-position: -222px 0;
        &:hover {
          background-position: -222px -36px;
        }
        &:active {
          background-position: -222px -72px;
        }
      }
    }
  }
  .ui-dialog-buttonpane {
    border: none;
    background: none;
    padding: 10px;
    .ui-dialog-buttonset {
      float: none;
      text-align: center;
      button {
        color: #fff;
        background: -webkit-linear-gradient(#545754, #14211F);
        border: 0;
        outline: none;
        margin: 0 15px;
        &:hover {
          background: -webkit-linear-gradient(#7C7F7C, #3C4947);
        }
        &:active {
          background: -webkit-linear-gradient(top, #7DBDFF 0%, #1F7AB3 49%, #146699 50%, #17365E 100%);
        }
      }
    }
  }
  
  /***** Dialog - only close button ******/
  &.titlbar-only-close {
    border: 0;
    outline: none;
    .ui-widget-header {
      border: 0;
      background: none;
      outline: none;
      margin: 0;
      height: 1rem;
    }
    .ui-dialog-titlebar-close {
      border: 0;
      background: none;
      outline: none;
      top: 7px;
    }
  }
  
  #dialog-preview {
    .subject {
      background: #59A4DF;
      border: 0;
      border-radius: 0;
      margin: -10px -17px 0 -17px;
      padding: 8px 17px;
      color: #fff;
      font-size: 1.5rem;
      line-height: 1.2;
      .small {
        font-size: .8rem;
        font-weight: normal;
        margin-left: .5rem;
      }
    }
    .previewContent {
      font-size: 13pt;
      overflow-y: auto;
      height: 410px;
      max-height: 410px;
      border-top: 0;
      margin-right: -17px;
      padding-top: 10px;
      .previewImage {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 240px;
      }
    }
    .answers {
      height: 1rem;
    }
    .only-img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 500px;
    }
  }
  
  /***** Answer button ******/
  #answers {
    text-align: center;
    margin-top: 5px;

    span {
      display: inline-block;
      width: auto;
      height: auto;
      color: #000000;
      background-image : -webkit-linear-gradient(#FFFFFF, #EBEBEB);
      border: 1px solid #A6A8AB;
      box-shadow: 1px 2px 3px rgba(20%,20%,40%,0.5);
      border-radius: 4px;
      margin-right: 10px;
      padding: 5px 20px;
      font-size: 1rem;
      outline: none;
      cursor: default;
      &:last-child {
        margin-right: 0;
      }
    }

    &.boolean span,
    &.choice-2 span {
      width: 200px;
    }
    &.choice-3 span {
      width: 175px;
    }
    &.choice-4 span {
      width: 100px;
    }
    &.choice-5 span {
      width: 90px;
    }

    &.commend {
      span:after {
        content: ' ';
        display: inline-block;
        width: 26px;
        height: 24px;
        background-image: url(../images/bn_tools_02.png);
        background-repeat: no-repeat;
      }
      .thumbs-up:after {
        background-position: -150px 0;
      }
      .thumbs-down:after {
        background-position: -186px 0;
      }
    }
    .upload {
      line-height: 35px;
      vertical-align: top;
    }
    
    #img_path {
      display: inline-block;
      width: 80%;
      height: 32px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      -webkit-user-select: none;
      cursor: default;
      outline: none;
    }

    #choose_img {
      display: inline-block;
      font-family: monospace;
      width: 40px;
      height: 36px;
      line-height: 28px;
      vertical-align: top;
      color: #FFFFFF;
      background-image : -webkit-linear-gradient(#545754, #14211F);
      border: 1px solid #A0A3A2;
      border-radius: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: none;
      margin: 0;
      padding: 0;
      font-size: initial;
      outline: none;
      cursor: default;
    }
  }

}

.no-close .ui-dialog-titlebar-close,
.no-titlebar .ui-dialog-titlebar,
.titlbar-only-close .ui-dialog-title,
.no-buttonpane .ui-dialog-buttonpane {
  display: none;
}

#dialog-select-answer {
  text-align: center;
  h4 {
    line-height: 2.5;
    font-size: larger;
  }
  select {
    margin-top: 1rem;
    font-family: sans-serif;
  }
}

#dialog-pic {
  text-align: center;
  img{
    max-width: 100%;
    max-height: 100%;
  }
}